<apex:page standardController="dec_action__c" extensions="dec_ActionController" action="{!setupAction}" id="decActionPg" >
<script src="/soap/ajax/17.0/connection.js"></script>
<script >
	sforce.connection.defaultNamespace = "";
    sforce.connection.sessionId = "{!$Api.Session_ID}";
</script>
<script type="text/javascript" src="{!$Resource.reeg_js}"></script>
<apex:form id="topForm">
	<apex:inputHidden value="{!objPicklist1}" id="objPicklist1"/>
	<apex:inputHidden value="{!objPicklist2}" id="objPicklist2"/>
	<apex:inputHidden value="{!objPicklist2_2}" id="objPicklist2_2"/>
	<apex:inputHidden value="{!objPicklistLoc1}" id="objPicklistLoc1"/>
	<apex:inputHidden value="{!objPicklistLoc2}" id="objPicklistLoc2"/>
	<apex:inputHidden value="{!objPicklistLoc2_2}" id="objPicklistLoc2_2"/>
	<apex:inputHidden value="{!fieldPicklist1}" id="fieldPicklist1"/>
	<apex:inputHidden value="{!fieldPicklist1_2}" id="fieldPicklist1_2"/>
	<apex:inputHidden value="{!fieldPicklist2}" id="fieldPicklist2"/>
	<apex:inputHidden value="{!fieldPicklist2_2}" id="fieldPicklist2_2"/>
	<apex:inputHidden value="{!objPicklistLbl1}" id="objPicklistLbl1"/>
	<apex:inputHidden value="{!objPicklistLbl2}" id="objPicklistLbl2"/>
	<apex:inputHidden value="{!objPicklistLbl2_2}" id="objPicklistLbl2_2"/>
	<apex:inputHidden value="{!fieldPicklistLbl1}" id="fieldPicklistLbl1"/>
	<apex:inputHidden value="{!fieldPicklistLbl1_2}" id="fieldPicklistLbl1_2"/>
	<apex:inputHidden value="{!fieldPicklistLbl2}" id="fieldPicklistLbl2"/>
	<apex:inputHidden value="{!fieldPicklistLbl2_2}" id="fieldPicklistLbl2_2"/>
	<apex:commandLink action="/apex/DecisionDevelopmentPage?rid={!reegId}" value="back to Action list page" immediate="true" /><br />
	<apex:pageBlock id="rulePb" >
		<apex:pageBlockButtons id="actionPbb">
            <apex:commandButton action="{!editActionOverride}" value="Edit" id="edit" immediate="true" rendered="{!isEditAvail}" />
            <apex:commandButton action="{!cloneActionOverride}" value="Clone" id="cloneBtn" immediate="true" rendered="true" />
            <apex:commandButton action="{!deleteActionOverride}" value="Delete" id="delBtn" immediate="true" rendered="{!isEditAvail}" />
            <apex:commandButton action="{!dbTableAction}" value="Edit Database Tables" id="dbBtn" immediate="true" rendered="true" />
            <apex:commandButton action="{!inactivate}" value="Inactivate" immediate="true" id="inactivateBtn" rendered="{!isInactivateAvail}" rerender="actionEditPbs" />
            <apex:commandButton action="{!activate}" value="Activate" immediate="true" id="activateBtn" rendered="{!isActivateAvail}" rerender="actionEditPbs" />
        </apex:pageBlockButtons> 
		<apex:pageBlockSection id="actionEditPbs" title="{!action.Name}" columns="2">
			<apex:outputField id="status" value="{!action.status__c}"  />
			<apex:outputField id="RunOnTest" value="{!action.run_on_test__c}"  />
			<apex:outputField id="logicConditions" value="{!action.logic_conditions__c}" />
			<apex:outputField id="finalizeReport" value="{!action.finalize_report__c}"  />
			<apex:outputField id="fieldDesc" value="{!action.description__c}"  />
			<apex:outputField id="fieldObj1" value="{!action.pri_obj_label__c}"  />	
			<apex:outputField id="fieldName1" value="{!action.pri_field_label__c}"  />	
			<apex:outputField id="fieldObj2" value="{!action.sec_obj_label__c}" rendered="false" />	
			<apex:outputField id="fieldName2" value="{!action.sec_field_label__c}" rendered="false" />	
			<apex:outputField id="fieldRefText" value="{!action.ref_text__c}" rendered="false" />	
			<apex:outputField id="fieldText" value="{!action.text__c}"  />	
			<apex:outputField id="activateDate" value="{!action.activated_date__c}"  />
			<apex:outputField value="{!action.append_text__c}" rendered="true" />
			<apex:outputField id="inactivatedDate" value="{!action.inactivated_date__c}"  />	
			<apex:outputField value="{!action.sequence__c}" rendered="true" />
			<apex:outputField value="{!action.version__c}" rendered="true" />
		</apex:pageBlockSection>
	</apex:pageBlock>
	<apex:pageBlock id="ruleAddPb">
		<apex:pageBlockSection id="ruleAddPbs" title="Add a Rule" columns="1" rendered="{!isRuleEditable}">
			 <apex:outputPanel id="ruleFieldPanel">
			 	<apex:inputHidden value="{!ruleId}" id="ruleId"/>
				<table width="100%">
					<tr width="100%">
						<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Rule Name" /></td>
						<td><apex:inputField id="ruleNameTb" value="{!inputRule.Name}" required="true"/></td>
						<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Description" /></td>
						<td><apex:inputField id="ruleDescTb" value="{!inputRule.description__c}" /></td>
					</tr>
					<tr width="100%">
						<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Primary Object" style="font-weight:bold; text-align:right;"/></td>
						<td style="width:30%; font-weight:bold; text-align:left">
							<select id="obj1List" onchange="setFieldPicklist(this,'picklistValIf1', ''); setFieldPicklist(this,'picklistValIf1_2', '');" size="1" />
						</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr width="100%">
						<td colspan="5" width="100%">
							<table width="100%" >
								<tr>
									<td style="width:10%; font-weight:bold; text-align:right"><apex:outputText value="Field 1" style="font-weight:bold; text-align:right;"/></td>
									<td>
										<select id="picklistValIf1" size="1" style="width:130px;"/>
									</td>
									<td style="width:5%; font-weight:bold; text-align:right"><apex:outputText value="" style="font-weight:bold; text-align:right;"/></td>
									<td style="width:20%; font-weight:bold; text-align:left">
										<apex:selectList id="opSelectList"  value="{!inputRule.op__c}" size="1" >
									       	<apex:selectOption itemValue="equals" itemLabel="equals" />
									        <apex:selectOption itemValue="not equal to" itemLabel="not equal to" />
									        <apex:selectOption itemValue="contains"  itemLabel="contains" />
									        <apex:selectOption itemValue="does not contain" itemLabel="does not contain" />
									        <apex:selectOption itemValue="starts with" itemLabel="starts with" />
									        <apex:selectOption itemValue="less than" itemLabel="less than" />
									        <apex:selectOption itemValue="greater than" itemLabel="greater than" />
									        <apex:selectOption itemValue="less or equal" itemLabel="less or equal" />
									        <apex:selectOption itemValue="greater or equal" itemLabel="greater or equal" />
									     </apex:selectList>
									</td>
									<td style="width:10%; font-weight:bold; text-align:right"><apex:outputText value="Value" style="font-weight:bold; text-align:right;"/></td>
									<td style="width:15%; font-weight:bold; text-align:left"><apex:inputText id="ruleLiteralTb" value="{!inputRule.literal__c}" /></td>
									<td style="width:40%; visibility:hidden;">
										<table>
											<tr>
												<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Object" style="font-weight:bold; text-align:right;"/></td>
												<td style="width:30%; font-weight:bold; text-align:left">
													<select id="obj2List" onchange="setFieldPicklist(this, 'picklistValIf2', '');" size="1" />
												</td>
												<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Field" style="font-weight:bold; text-align:right;"/></td>
												<td><select id="picklistValIf2" size="1" /></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<div id="secondFieldEntry">
							<table width="100%" >
								<tr>
									<td style="width:10%; font-weight:bold; text-align:right"><apex:outputText value="Field 2" style="font-weight:bold; text-align:right;"/></td>
									<td>
										<select id="picklistValIf1_2" size="1" style="width:130px;"/>
									</td>
									<td style="width:5%; font-weight:bold; text-align:right"><apex:outputText value="" style="font-weight:bold; text-align:right;"/></td>
									<td style="width:20%; font-weight:bold; text-align:left">
										<apex:selectList id="opSelectList_2"  value="{!inputRule.op_2__c}" size="1" >
									     	<apex:selectOption itemValue="equals" itemLabel="equals" />
									        <apex:selectOption itemValue="not equal to" itemLabel="not equal to" />
									        <apex:selectOption itemValue="contains"  itemLabel="contains" />
									        <apex:selectOption itemValue="does not contain" itemLabel="does not contain" />
									        <apex:selectOption itemValue="starts with" itemLabel="starts with" />
									        <apex:selectOption itemValue="less than" itemLabel="less than" />
									        <apex:selectOption itemValue="greater than" itemLabel="greater than" />
									        <apex:selectOption itemValue="less or equal" itemLabel="less or equal" />
									         <apex:selectOption itemValue="greater or equal" itemLabel="greater or equal" />
									    </apex:selectList>
									</td>
									<td style="width:10%; font-weight:bold; text-align:right"><apex:outputText value="Value" style="font-weight:bold; text-align:right;"/></td>
									<td style="width:15%; font-weight:bold; text-align:left"><apex:inputText id="ruleLiteralTb_2" value="{!inputRule.literal_2__c}" /></td>
									<td style="width:40%; visibility:hidden;">
										<table>
											<tr>
												<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Object" style="font-weight:bold; text-align:right;"/></td>
												<td style="width:30%; font-weight:bold; text-align:left">
													<select id="obj2List_2" onchange="setFieldPicklist(this, 'picklistValIf2_2', '');" size="1" />
												</td>
												<td style="width:15%; font-weight:bold; text-align:right"><apex:outputText value="Field" style="font-weight:bold; text-align:right;"/></td>
												<td><select id="picklistValIf2_2" size="1" /></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							</div>
						</td>
					</tr>
					<tr><td colspan="4"><apex:messages /></td></tr>
					<tr>
						<td colspan="4">
							<apex:commandButton action="{!addRuleAction}" value="Save Rule" id="edit" onclick="fieldPicklistSave();" oncomplete="clearRuleFields();" rerender="rulesPanel" />
						</td>
					</tr>
				</table>
			</apex:outputPanel>
		</apex:pageBlockSection>
		<apex:pageBlockSection id="rulePbs" title="Rules" columns="1">
    		<apex:outputPanel id="rulesPanel">
		      <table style="width:100%;">
		      	<tr>
		      		<td style="width:100%;">
				      	<apex:dataTable id="ruleTable" value="{!RuleList}" var="rule" columnsWidth="10%,10%,10%,8%,8%,8%,10%,8%,8%,20%" cellpadding="3" width="100%" border="0">
				      		<apex:column rendered="{!isRuleEditable}" >
								<apex:facet name="header">Action</apex:facet>
								<apex:commandButton onclick="editRuleAction(this);" value="Edit" id="editRuleBtn" rerender="rulePb" immediate="true" /> 
								&nbsp;
								<apex:commandButton onclick="delRuleAction(this);" value="Del" id="deleteRuleBtn" rerender="rulesPanel" immediate="true" />
								<apex:inputHidden value="{!rule.Id}" id="ruleActionIdHf"/>
							</apex:column>
				      		<apex:column >
								<apex:facet name="header">#</apex:facet>
								<apex:outputField value="{!rule.rule_number__c}" />
							</apex:column>
				      		<apex:column >
								<apex:facet name="header">Name</apex:facet>
								<apex:outputField value="{!rule.name}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Pri Obj</apex:facet>
								<apex:outputField value="{!rule.pri_object_label__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Pri Field</apex:facet>
								<apex:outputField value="{!rule.pri_field_label__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Pri Op</apex:facet>
								<apex:outputField value="{!rule.op__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Pri Value</apex:facet>
								<apex:outputField value="{!rule.literal__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Sec Field</apex:facet>
								<apex:outputField value="{!rule.pri_field_label_2__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Sec Op</apex:facet>
								<apex:outputField value="{!rule.op_2__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Sec Value</apex:facet>
								<apex:outputField value="{!rule.literal_2__c}" />
							</apex:column>
							<apex:column >
								<apex:facet name="header">Description</apex:facet>
								<apex:outputField value="{!rule.description__c}" />
							</apex:column>
			    		</apex:dataTable>
			      	</td>
				 </tr>
			  </table>
    		</apex:outputPanel>
  		</apex:pageBlockSection>
	</apex:pageBlock>
</apex:form>
</apex:page>