<apex:page controller="i_eegTechListController" action="{!loadAction}" sidebar="false" tabStyle="r_patient__c" 
    showHeader="false" standardStylesheets="false" id="p">
 <style>
 .bckgrndFrm {
	background-repeat: no-repeat;
	background-position: center top;	
	max-height: 250px;
}
 
 </style>
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iwrEEGEdit.css"/>
<apex:form id="f">
<div class="bckgrndFrm">
<ul class="pageitem">
					<apex:repeat value="{!techList}" var="tech">			
						<li class="menu">
							<a href="">
								<img alt="list" src="{!$Resource.CNS_Util}/Images/pat_icon_sm.png" />
								<span class="patName">{!tech.name}</span>
								<span class="arrow"></span>			
							</a>
						</li>
					</apex:repeat>
				</ul>

</div>
 
</apex:form>
</apex:page>