<apex:page standardController="r_reeg__c" extensions="i_rEEGControllerExt" action="{!loadAction}" tabStyle="r_reeg__c" 
    showHeader="false" standardStylesheets="false" id="p">
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/commonUtil.css"/>       

<style type="text/css" media="all and (orientation:portrait)">
.menu span.frst {
    margin-left: -3px;
    margin-right: -3px;
    padding-right: 0px;
}
.menu span.scnd {
    padding-right: 3px;
}
.textbox label.colHdrR2 {
	display: inline-block;
	width: 12%;
	color: #000;
	font-weight: normal;
	font-size: 13px;
}

.textbox span.dataL2 {
	display: inline-block;
	width: 36%;
	color: #000;
	font-weight: normal;
	font-size: 13px;
}

</style>
<style type="text/css" media="all and (orientation:landscape)" >
.menu span.frst {
    margin-left: -3px;
    margin-right: 0;
    padding-right: 0px;
}
.menu span.scnd {
    padding-right: 8px;
}

.textbox label.colHdrR2 {
	display: inline-block;
	width: 15%;
	color: #000;
	font-weight: normal;
	font-size: 13px;
}

.textbox span.dataL2 {
	display: inline-block;
	width: 33%;
	color: #000;
	font-weight: normal;
	font-size: 13px;
}

.techPopup {
	position: absolute;
	color: #1b1b1b;
	background-color: #ffffff;
	border: 4px solid #000;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	top: 0px; 
	left: 100px;
	width: 325px;
	heigth: 250px;
	font-family:arial;
	font-weight:bold;
	z-index:9999;
	margin-left: 125px;
}
.techPopup ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}
.techPopup li {
	display: block;
	cursor: pointer;
	padding: 4px;
	list-style:none;
	font-size: 125%;
	border-bottom: 1px solid #b7babc;
}
.techPopup li.selected {
	background-color: #058cf5;
	color:#ffffff;
	font-weight:bold;
	font-family:arial;
}

</style>
<script>
//-- Check for enter key presses in the selected fields
function checkKey(e){
	var keyCode;
 	if (event && event.which){
		// Use for Firefox and Chrome
		keyCode = event.which;
	} else {
		// Use for IE
		keyCode = event.keyCode;
	}
 
	if (keyCode == 13){
		verifiyWO();
		actionSubmitScript();
		event.keyCode = null;
	}
}

window.onload = function pageSetup()
{
	//-- Setup custom tab indexing
	document.getElementById("p:iTemplate:f:rType").tabIndex = 1;
	document.getElementById("p:iTemplate:f:eegTechIf").tabIndex = 2;
	
	var bilEl = document.getElementById("p:iTemplate:f:billingCodeIf");
	if (bilEl)
	{
		bilEl.tabIndex = 3;
	}
	else
	{
		document.getElementById("p:iTemplate:f:billingCodeIf2").tabIndex = 3;
	}
	
	document.getElementById("p:iTemplate:f:alcIf").tabIndex = 4;
	document.getElementById("p:iTemplate:f:cafIf").tabIndex = 5;
	document.getElementById("p:iTemplate:f:tobIf").tabIndex = 6;
	document.getElementById("p:iTemplate:f:noMedCb").tabIndex = 7;
	document.getElementById("p:iTemplate:f:wIf").tabIndex = 8;
	document.getElementById("p:iTemplate:f:bpIf").tabIndex = 9;
	document.getElementById("p:iTemplate:f:rpIf").tabIndex = 10;
	document.getElementById("p:iTemplate:f:prevBtn").tabIndex = 11;
	document.getElementById("p:iTemplate:f:canBtn").tabIndex = 12;
	document.getElementById("p:iTemplate:f:nextBtn").tabIndex = 13;
}

function verifiyWO()
{
	var returnVal = false;
	var woCb = document.getElementById("p:iTemplate:f:noMedCb");
	if (woCb)
	{
		var hfEl = document.getElementById('p:iTemplate:f:woVerifiedHf');
		var isConfirmed;
		if (woCb.checked)
			isConfirmed = confirm("Please Confirm that this patient should be washed out of all medications for the EEG Test.");
		else
			isConfirmed = confirm("Please Confirm that this patient will not be washed out of all medications for the EEG Test.");
		
		hfEl.value = (hfEl && isConfirmed);
		returnVal = true;
	}
	
	return returnVal;
}

function validateBp()
{
	var returnVal = false;
	var bpTb = document.getElementById("p:iTemplate:f:bpIf");
	if (bpTb)
	{
		if (bpTb.value != '' && bpTb.value != null)
		{
			var bpArray = bpTb.value.split('/');
			
			if (bpArray && bpArray.length() > 0)
			{
				
				hfEl.value = (hfEl && isConfirmed);
				returnVal = true;
			}
			
		}
		else
		{
			returnVal = true;
		}
	}
	
	return returnVal;
}

</script>
  <apex:composition template="iwTemplate">
    <apex:define name="body">
    <apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iwrEEGEdit.css"/>
        <div id="topbar" class="blackMed">
            <div id="title">Referenced-EEG<sup>®</sup> (rEEG<sup>®</sup>)</div>
            <div id="leftnav">
                <a href="iwPatient"><img alt="iwPatient" src="{!$Resource.iWeb}/images/srch_icon_sml.png" /></a>
                <apex:outputPanel rendered="{!!isNew}">
                	<input type="button" class="lBtn" value="{!r_reeg__c.name}" onclick="parent.location='/apex/iwrEEGSummary?id={!r_reeg__c.id}'" >
                </apex:outputPanel>
                <input type="button" class="lBtn" value="{!patient.name}" onclick="parent.location='/apex/iwPatientDetail?show=all&id={!r_reeg__c.r_patient_id__c}'" >
            </div>  
            <div id="rightnav">
                <span>{!$User.Username}</span>
                <input type="button" class="loBtn" value="Logout" onclick="parent.location='{!logoutUrl}'" />  
            </div>      
        </div>
        <apex:form id="f">
        <apex:actionFunction action="{!nextAction}" name="actionSubmitScript" />	
        <apex:inputHidden id="woVerifiedHf" value="{!isWoVerified}" />
        <div id="content">
            <span class="pageTitle">{!r_reeg__c.name} - {!patient.name}, {!patient.first_name__c}</span>
            <div class="clear"></div>
            <span class="graytitle">rEEG Detail</span> 
             <div class="reqFieldTitle1">* Required</div>     
            <apex:outputPanel id="mainPnl">
            <table width="100%">
				<tr>
					<td>
			            <ul class="pageitem">
			                <li class="textbox">
			                    <label class="colHdrLsm">rEEG Type<span class="reqFieldRed">*</span>:</label>
			                    <span class="dataL">
			                    	<apex:inputField id="rType" value="{!r_reeg__c.reeg_type__c}" onkeypress="checkKey(event);"/>
			                    	<apex:outputText value="Error: This field must have a value" rendered="{!isReegTypeError}" />
			                    </span>
			                  <label class="colHdrR xtraRt">Request Date:</label>
			                    <span class="dataR"><apex:outputField value="{!r_reeg__c.req_date__c}" /></span>                             
			                </li>
			                <li class="textbox">
			                	 <label class="colHdrLsm">EEG Technician<span class="reqFieldRed">*</span>:</label>
			                    <span class="dataL">
			                    	<apex:inputField id="eegTechIf" value="{!r_reeg__c.r_eeg_tech_contact__c}" onkeypress="checkKey(event);"/>
			                    	<apex:outputText value="Error: This field must have a value" rendered="{!isReegTechError}" />
			                   <!-- 	<apex:commandButton action="{!openEegTechSelect}" value="Select" immediate="true" rendered="{!!isEegTechEdit}" rerender="mainPnl" />  --> 
			                    </span>  
								<label class="colHdrR2"></label>
								<span class="dataL2">
									<apex:outputText style="font-weight:bold;" value="This patient will be washed out of all medications" /><span class="reqFieldRed">*</span><br />
									<apex:inputField id="noMedCb" value="{!reeg.med_no_med__c}" onkeypress="checkKey(event);" />
								</span>
			                </li>                               
			                <li class="textbox">
			                    <label class="colHdrLsm">Billing Code<span class="reqFieldRed">*</span>:</label>
			                    <span class="dataL">
			                    	<apex:inputField id="billingCodeIf" value="{!r_reeg__c.billing_code__c}" required="true" rendered="{!IsMgr}" onkeypress="checkKey(event);"/>
			                    	<apex:inputField id="billingCodeIf2" value="{!r_reeg__c.phy_billing_code__c}" required="true" rendered="{!!IsMgr}" onkeypress="checkKey(event);"/>
			                    	<apex:outputText value="Error: This field must have a value" rendered="{!isReegBillingError}" />
			                    </span>
			                    <label class="colHdrR">&nbsp;</label>
			                    <span class="dataR">&nbsp;</span>                   
			                </li>   
			            </ul>
			            <div class="clear"></div>
			            <span class="graytitle">Vitals and Substance Use</span>     
			            <ul class="pageitem">                           
			                <li class="textbox">
			                    <label class="colHdrLsm">Alcohol:</label>
			                    <span class="dataLsm"><apex:inputField id="alcIf" value="{!r_reeg__c.sub_alcohol__c}" onkeypress="checkKey(event);"/></span>
			                    <label class="colHdrR" style="padding-left:80px; width:250px;">Weight (At Request Time):</label>
			                    <span class="dataRxsm"><apex:inputField id="wIf" value="{!r_reeg__c.vital_weight_req__c}" style="width:60px;" onkeypress="checkKey(event);" /></span>                  
			                </li>                                   
			                <li class="textbox">
			                    <label class="colHdrLsm">Caffeine:</label>
			                    <span class="dataLsm"><apex:inputField id="cafIf" value="{!r_reeg__c.sub_caff__c}"  /></span>
			                    <label class="colHdrR" style="padding-left:80px; width:250px;">Blood Pressure (At Request Time):</label>
			                    <span class="dataRxsm"><apex:inputField id="bpIf" value="{!r_reeg__c.vital_bp_req__c}" style="width:60px; " onkeypress="checkKey(event);" /></span>                 
			                </li>                                   
			                <li class="textbox">
			                    <label class="colHdrLsm">Tobacco:</label>
			                    <span class="dataLsm"><apex:inputField id="tobIf" value="{!r_reeg__c.sub_tobac__c}" onkeypress="checkKey(event);" /></span>
			                    <label class="colHdrR" style="padding-left:80px; width:250px;">Resting Pulse (At Request Time):</label>
			                    <span class="dataRxsm"><apex:inputField id="rpIf" value="{!r_reeg__c.vital_rp_req__c}" style="width:60px; " onkeypress="checkKey(event);" /></span>                 
			                </li>                                   
			            </ul>
		          </tr>
		          <tr>
					<td width="100%">
						<table width="100%">
							<tr>
								<td width="65%" style="padding-left:10px; ">
									<div>
										<apex:commandButton id="prevBtn" action="{!previousAction}" value="Previous" immediate="true" styleClass="standardBtnL"/>
									</div>
								</td>
								<td width="35%" align="right" >
									<div>
										<apex:commandButton id="nextBtn" action="{!nextAction}" onclick="verifiyWO();" value="Next" styleClass="standardBtnR" />
										<apex:commandButton id="canBtn" action="{!cancelAction}" value="Cancel"  immediate="true" styleClass="standardBtnR" />	
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<apex:outputPanel styleClass="techPopup" id="techListPnl" rendered="{!isEegTechEdit}">
				<apex:iframe src="/apex/iwEegTechList" scrolling="true" /> 
				<apex:commandButton action="{!openEegTechSelect}" value="Cancel" immediate="true" rendered="{!isEegTechEdit}" styleClass="cmdBtn" rerender="mainPnl" />
			</apex:outputPanel>
		</apex:outputPanel>
      </div>
    </apex:form>
  </apex:define>
</apex:composition>
</apex:page>