<apex:page standardController="r_reeg__c" extensions="i_rEEGControllerExt" action="{!loadAction}" tabStyle="r_reeg__c" 
	showHeader="false" standardStylesheets="false" id="p">
	
  <apex:composition template="iwTemplate">
    <apex:define name="body"> 
		<div id="topbar" class="blackMed">
			<div id="title">Referenced-EEG<sup>®</sup> (rEEG<sup>®</sup>)</div>
			<div id="leftnav">
				<a href="iwPatient"><img alt="iwPatient" src="{!$Resource.iWeb}/images/srch_icon_sml.png" /></a>
				<input type="button" class="lBtnRS" value="{!PatientLastName}" onclick="parent.location='/apex/iwPatientDetail?show=all&id={!r_reeg__c.r_patient_id__c}'" />
			</div>	
			<div id="rightnav">
				<span>{!$User.Username}</span>
				<input type="button" class="loBtn" value="Logout" onclick="parent.location='{!logoutUrl}'" />	
			</div>		
		</div>
		<div id="content">
			<span class="graytitle">{!r_reeg__c.name} - {!PatientLastName}, {!PatientFirstName}</span>
			<ul class="pageitem">				
				<li class="menu"><a href="/apex/iwrEEGDetail?show=all&id={!r_reeg__c.id}"> 
					<img alt="all" src="{!$Resource.CNS_Util}/Images/reeg_wave_icon_sm.png" /><span class="name">All</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwrEEGDetail?show=det&id={!r_reeg__c.id}">
					<img alt="demographics" src="{!$Resource.CNS_Util}/Images/details_icon_sm.png" /><span class="name">Details</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwrEEGDetail?show=stat&id={!r_reeg__c.id}">
					<img alt="meds" src="{!$Resource.CNS_Util}/Images/status_icon_sm.png" /><span class="name">Status</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwrEEGDetail?show=dx&id={!r_reeg__c.id}">
					<img alt="reegs" src="{!$Resource.CNS_Util}/Images/dx_icon_sm.png" /><span class="name">Physician Generated Diagnosis</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwrEEGDetail?show=com&id={!r_reeg__c.id}">
					<img alt="outcomes" src="{!$Resource.CNS_Util}/Images/commentary_icon_sm.png" /><span class="name">Commentary</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwrEEGDetail?show=rpt&id={!r_reeg__c.id}">
					<img alt="outcomes" src="{!$Resource.CNS_Util}/Images/med_sens_icon_sm.png" /><span class="name">Medication Sensitivity</span><span class="arrow"></span></a></li>
				<li class="menu"><a href="/apex/iwBrainMap?id={!r_reeg__c.id}&ret=SUMM">
					<img alt="outcomes" src="{!$Resource.CNS_Util}/Images/brain_map_icon_sm.png" /><span class="name">QEEG Data Map</span><span class="arrow"></span></a></li>
			</ul>
		</div>
    </apex:define>
  </apex:composition>
</apex:page>