<apex:page controller="i_rEEGDxController" action="{!setup}" tabStyle="r_reeg__c" 
    showHeader="false" standardStylesheets="false" id="p">
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/commonUtil.css"/>       

<style type="text/css" media="all and (orientation:portrait)">
.menu span.frst {
    margin-left: -3px;
    margin-right: -3px;
    padding-right: 0px;
}
.menu span.scnd {
    padding-right: 3px;
}
</style>
<style type="text/css" media="all and (orientation:landscape)" >
.menu span.frst {
    margin-left: -3px;
    margin-right: 0;
    padding-right: 0px;
}
.menu span.scnd {
    padding-right: 8px;
}
</style>   
 <script>
 
 //-- this checks for enter key presses in the selected fields
function checkKey(e, valStr, title, fn, ln){
	var keyCode;
 	if (event && event.which){
		// Use for Firefox and Chrome
		keyCode = event.which;
	} else {
		// Use for IE
		keyCode = event.keyCode;
	}

	if (keyCode == 13){
		verifySubmit(valStr, title, fn, ln);
		actionSubmitScript();
		event.keyCode = null;
	}
}

 function verifySubmit(valStr, title, fn, ln)
 {
 	var returnVal = false;
	var hfEl = document.getElementById('p:iTemplate:f:isSubmitVerifiedHf');
	var isConfirmed;
	if (hfEl)
	{
		var popupTxt = 'Please confirm submission of this rEEG request';
		if (valStr && valStr != '')
		{
			var tempStr = title;
			tempStr += (tempStr && tempStr != '') ? ' ' : '';
			tempStr += fn + ' ' + ln;
			popupTxt = valStr.replace('$physicianname$', tempStr);
		}
		hfEl.value = confirm(popupTxt);
		
		returnVal = true;
	}
	
	return returnVal;
}
    </script> 
  <apex:composition template="iwTemplate">
    <apex:define name="body">
    <apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iwrEEGDetail.css"/>
    <apex:form id="f">
    <apex:actionFunction action="{!wizardSubmit}" name="actionSubmitScript" rendered="{!isWiz}" />
    <apex:inputHidden id="isSubmitVerifiedHf" value="{!isSubmitVerified}" />
        <div id="topbar" class="blackMed">
            <div id="title">Referenced-EEG<sup>®</sup> (rEEG<sup>®</sup>)</div>
            <div id="leftnav">
                <a href="iwPatient"><img alt="iwPatient" src="{!$Resource.iWeb}/images/srch_icon_sml.png" /></a>                
            </div>  
            <div id="rightnav">
                <span>{!$User.Username}</span>
                <input type="button" class="loBtn" value="Logout" onclick="parent.location='{!logoutUrl}'" />  
            </div>      
        </div>
        <div id="content">
            <span class="pageTitle">Diagnosis</span>
            <table width="100%">
            	<tr><td width="100%">
						<table width="100%">
							<tr><td width="25%" style="padding-left:10px; ">
								<div>
									<apex:commandButton action="{!previousAction}" styleClass="standardBtnL" value="Previous" id="prevLink" immediate="true" rendered="{!isWiz}" />
								</div>
							</td>
							<td width="30%" align="right" >
								<div>
									<apex:commandButton action="{!wizardSubmit}" styleClass="standardBtnR" value="Submit" id="submitLink1" rendered="{!isWiz}" onclick="verifySubmit('{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/>
       								<apex:commandButton action="{!nextAction}" styleClass="standardBtnR" value="Next" id="nextLink1" immediate="true" rendered="false" />
       								<apex:commandButton action="{!cancelAction}" styleClass="standardBtnR" immediate="true" value="Cancel"/>
								</div>
							</td></tr>
						</table>
					</td>
				</tr>
				<tr><td style="padding-left:40px;">
                    <table cellpadding="0" cellspacing="0" class="typeClass" style="margin-top:3px;">
                        <tr>
                            <td class="graytitle" width="90px" align="center">I</td>
                            <td class="graytitle" width="70px" align="center">II</td>
                            <td class="graytitle" width="90px" align="center">R/O</td>
                            <td class="graytitle" width="10px" align="center">&nbsp;</td>
                            <td class="graytitle" width="60px" align="left"><span style="padding-left:3px;">DSM4</span></td>
                            <td class="graytitle" width="10px" align="center">&nbsp;</td>
                            <td class="graytitle" align="left" ><span style="padding-left:6px;">NAME</span></td>
                        </tr>
                    </table> 
                    
                    <apex:dataTable value="{!dxGroupsL}" var="grp"  border="0"   styleClass="drugClassTbl" headerClass="facetClass" width="100%" columnsWidth="100%" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');">
                        <apex:column width="100%">
                            <div class="graytitle">{!grp.refObj.description__c}</div>
                            <apex:dataTable value="{!grp.dxs}" var="dx" columnClasses="classCol1" rowClasses="classRow1, classRow2" width="100%">
                                <apex:column >
                                	<apex:inputField value="{!dx.obj.primary__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');" />
                                </apex:column>
                                <apex:column ><apex:inputField value="{!dx.obj.secondary__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/></apex:column>
                                <apex:column ><apex:inputField value="{!dx.obj.rule_out__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/></apex:column>
                                <apex:column >&nbsp;</apex:column>                                    
                                <apex:column ><apex:outputField value="{!dx.refObj.name}"/></apex:column>
                                <apex:column >&nbsp;</apex:column>
                                <apex:column width="100%"><apex:outputField value="{!dx.refObj.description__c}"/></apex:column>                                    
                            </apex:dataTable>
                            <br></br>
                        </apex:column>
                    </apex:dataTable>
                    <apex:dataTable value="{!dxGroupsR}" var="grp"  border="0"   styleClass="drugClassTbl" headerClass="facetClass" width="100%" columnsWidth="100%">
                        <apex:column width="100%">
                            <div class="graytitle">{!grp.refObj.description__c}</div>
                            <apex:dataTable value="{!grp.dxs}" var="dx" columnClasses="classCol1" rowClasses="classRow1, classRow2" width="100%">
                                <apex:column ><apex:inputField value="{!dx.obj.primary__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/></apex:column>
                                <apex:column ><apex:inputField value="{!dx.obj.secondary__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/></apex:column>
                                <apex:column ><apex:inputField value="{!dx.obj.rule_out__c}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/></apex:column>
                                <apex:column >&nbsp;</apex:column>
                                <apex:column ><apex:outputField value="{!dx.refObj.name}"/></apex:column>
                                <apex:column >&nbsp;</apex:column>                                    
                                <apex:column width="100%">	
                                	<apex:outputField value="{!dx.refObj.description__c}" rendered="{!dx.showLabel}"/>
                                	<apex:inputField value="{!dx.refObj.description__c}" rendered="{!dx.showOther}" onkeypress="checkKey(event, '{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/>
                                </apex:column>                                    
                            </apex:dataTable>
                            <br></br>
                        </apex:column>
                   </apex:dataTable>		
            	</td></tr>
				<tr><td width="100%">
						<table width="100%">
							<tr><td width="25%" style="padding-left:10px; ">
								<div>
									<apex:commandButton action="{!previousAction}" styleClass="standardBtnL" value="Previous" id="prevLink2" immediate="true" rendered="{!isWiz}" />
								</div>
							</td>
							<td width="30%" align="right" >
								<div>
									<apex:commandButton action="{!wizardSubmit}" styleClass="standardBtnR" value="Submit" id="submitLink2" rendered="{!isWiz}" onclick="verifySubmit('{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');"/>
       								<apex:commandButton action="{!nextAction}" styleClass="standardBtnR" value="Next" id="nextLink2" immediate="true" rendered="false" />
       								<apex:commandButton action="{!cancelWizAction}" styleClass="standardBtnR" immediate="true" value="Cancel"/>
								</div>
							</td></tr>
						</table>
					</td>
				</tr>
			</table>
        </div>
    </apex:form>
    </apex:define>
  </apex:composition>
</apex:page>