<apex:page showHeader="false" title="CNS Response iPad Portal" id="iTemplate" standardStylesheets="false">
<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<meta content="index,follow" name="robots" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="pics/homescreen.gif" rel="apple-touch-icon" />

<apex:stylesheet value="{!$Resource.iWeb}/css/style.css"/> 
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iwPadUtil.css"/>
<!--  <script type="text/javascript" src="{!$Resource.iWeb}/javascript/functions.js"/> -->
<title>CNS Response iPad Portal</title>
<link href="{!$Resource.iWeb}/pics/startup.png" rel="apple-touch-startup-image" />

</head>

<body>
  <apex:insert name="header">
    <c:iwHeader id="iwH" />
  </apex:insert>
  <apex:insert name="body"/>
  <apex:insert name="footer">
    <c:iwFooter id="iwF"/>
  </apex:insert>
  
</body>
</apex:page>