<apex:page id="Pg" controller="patientMedListController" tabStyle="r_patient__c" sidebar="false" >
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/cnsUtil.css"/>
<script src="/soap/ajax/13.0/connection.js"></script>

<script>
/* ------------------------------------------------------------ */
if (navigator.userAgent.indexOf("Safari") > 0) {
	isSafari = true;
	isMoz = false;
	isIE = false;
} else if (navigator.product == "Gecko") {
	isSafari = false;
	isMoz = true;
	isIE = false;
} else {
	isSafari = false;
	isMoz = false;
	isIE = true;
}

function liveUpdater(uriFunc, popupId, postFunct)
{
  return createLiveUpdaterFunction(uriFunc, popupId, postFunct);
}

function recreateTR(parentElement, subtree)
{
  for(var i = parentElement.childNodes.length-1; i >= 0; i--)
  {
    parentElement.removeChild(parentElement.childNodes[i]);
  }

  for(var i=0; i < subtree.childNodes.length; i++)
  {
    var cell = document.createElement(subtree.childNodes[i].nodeName);
    cell.innerHTML = flattenChildren(subtree.childNodes[i].childNodes)
    parentElement.appendChild(cell);
  }
}

function createLiveUpdaterFunction(uriFunc, popupId, postFunct)
{    
    function update()
    {
        var searchStr = uriFunc();        
        var drugDoc = '<body><div id="' + popupId + '"><ul>';
        
        if (searchStr != '' || searchStr.length > 0) {
          var drugList = getDrugList(searchStr);             
        
          if (drugList.length > 0)
          {              
            for(var i = 0;i < drugList.length;i++)
            {
              drugDoc += "<li>" + drugList[i].Name + "</li>";
            }
          }         
        }
        
        drugDoc += "</ul></div></body>";
        
        var xmlDoc = null;
        
        if (isIE) {
          xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
          xmlDoc.async = "false";
          xmlDoc.loadXML(drugDoc);
        }
        else {
          parser = new DOMParser();
          xmlDoc = parser.parseFromString(drugDoc,"text/xml");
        }           
      
        var body = xmlDoc.getElementsByTagName("body");

        if(body.length>0)
        {
          var nodes = body[0].childNodes
          for(var i = 0; i < nodes.length;i++)
          {
            if( nodes[i].nodeType==1 && nodes[i].getAttribute("id")!=null)
            {         
              var id = nodes[i].getAttribute("id");               
              if(isIE && nodes[i].nodeName == 'tr')
              {
                recreateTR(document.getElementById(id), nodes[i]);
              }
              else
              {
                document.getElementById(id).innerHTML = flattenChildren(nodes[i].childNodes);
              }
            }
          }
          
          postFunct();          
        }     
    }
    return update;
}

function autocomplete(id, popupId)
{
    var inputField = document.getElementById(id);
    var popup = document.getElementById(popupId);
    var options = new Array(); 
    var current = 0;
    var originalPopupTop = popup.offsetTop; 
    
    function constructUri()
    {
        return inputField.value;
    }
   
    function hidePopup()
    {
      popup.style.visibility = 'hidden';
    }

    function handlePopupOver()
    {
      removeListener(inputField, 'blur', hidePopup);
    }
    
    function handlePopupOut()
    {
      if(popup.style.visibility == 'visible')
      {
        addListener(inputField, 'blur', hidePopup);
      }
    }
    
    function handleClick(e)
    {
      inputField.value = eventElement(e).innerHTML;
      popup.style.visibility = 'hidden';
      inputField.focus();
    }
    
    function handleOver(e)
    {
      options[current].className = '';
      current = eventElement(e).index;
      options[current].className = 'selected';
    }
    
    function post()
    {
        current = 0;
        options = popup.getElementsByTagName("li");
        if((options.length > 1)
           || (options.length == 1 
               && options[0].innerHTML != inputField.value))
        {
          setPopupStyles();
          for(var i = 0; i < options.length; i++)
          {
            options[i].index = i;
            addOptionHandlers(options[i]);
          }
          options[0].className = 'selected';
        }
        else
        {
          popup.style.visibility = 'hidden';
        }
    }
  
    function setPopupStyles()
    {
      var maxHeight
      if(isIE)
      {
        maxHeight = 200;
        popup.style.left = '0px';
        popup.style.top = (originalPopupTop + inputField.offsetHeight) + 'px';
      }
      else
      {
        maxHeight = window.outerHeight/3;
      }
      if(popup.offsetHeight < maxHeight)
      {
        popup.style.overflow = 'hidden';
      }
      else if(isMoz)
      {
        popup.style.maxHeight = maxHeight + 'px';
        popup.style.overflow = '-moz-scrollbars-vertical';
      }
      else
      {
        popup.style.height = maxHeight + 'px';
        popup.style.overflowY = 'auto';
      }
      popup.scrollTop = 0;
      popup.style.visibility = 'visible';
    }
    
    function addOptionHandlers(option)
    {
      addListener(option, "click", handleClick);
      addListener(option, "mouseover", handleOver);
    }
    
    var updater = liveUpdater(constructUri, popupId, post);
    var timeout = false;
   
    function start(e) {
      if (timeout)
        window.clearTimeout(timeout);
      //up arrow
      if(e.keyCode == 38)
      {
        if(current > 0)
        {
          options[current].className = '';
          current--;
          options[current].className = 'selected';
          options[current].scrollIntoView(false);
        }
      }
      //down arrow
      else if(e.keyCode == 40)
      {
        if(current < options.length - 1)
        {
          options[current].className = '';
          current++;
          options[current].className = 'selected';
          options[current].scrollIntoView(false);
        }
      }
      //enter or tab
      else if((e.keyCode == 13 || e.keyCode == 9) && popup.style.visibility == 'visible')
      {
        inputField.value = options[current].innerHTML;
        popup.style.visibility = 'hidden';
        inputField.focus();
        if(isIE)
        {
          event.returnValue = false;
        }
        else
        {
          e.preventDefault();
        }
      }
      else
      {
        timeout = window.setTimeout(updater, 300);
      }
    }
    
  addKeyListener(inputField, start);
  addListener(popup, 'mouseover', handlePopupOver);
  addListener(popup, 'mouseout', handlePopupOut);
}

function eventElement(event)
{
  if(isMoz)
  {
    return event.currentTarget;
  }
  else
  {
    return event.srcElement;
  }
}

function addKeyListener(element, listener)
{
  if (isSafari)
    element.addEventListener("keydown",listener,false);
  else if (isMoz)
    element.addEventListener("keypress",listener,false);
  else
    element.attachEvent("onkeydown",listener);
}

function addListener(element, type, listener)
{
  if(element.addEventListener)
  {
    element.addEventListener(type, listener, false);
  }
  else
  {
    element.attachEvent('on' + type, listener);
  }
}

function removeListener(element, type, listener)
{
  if(element.removeEventListener)
  {
    element.removeEventListener(type, listener, false);
  }
  else
  {
    element.detachEvent('on' + type, listener);
  }
}

function flatten(node)
{
    if(node.nodeType == 1)
    {
        return '<' + node.nodeName + flattenAttributes(node) + '>' +
        flattenChildren(node.childNodes) + '</' + node.nodeName + '>';
    }
    else if(node.nodeType == 3)
    {
        return node.nodeValue;
    }
}

function flattenAttributes(node)
{
  var buffer = ''
  for(var i = 0; i < node.attributes.length;i++)
  {
    var attribute = node.attributes[i]
    buffer += ' '+attribute.name+'="'+attribute.value+'"'
  }
  return buffer;
}

function flattenChildren(nodes)
{
    var buffer = '';
    if(nodes.length > 0)
    {
        for (var i = 0; i < nodes.length;i++)
        {
            buffer += flatten(nodes[i]);
        }
    }
    return buffer;
}

/* ------------------------------------------------------------ */
function IsEmptyTb(clientID)
{
    var fieldRef = document.getElementById(clientID);
    if (fieldRef.value == '' || fieldRef.value == '') return true;
    return false;
}

function GetValCb(clientID)
{
    var fieldRef = document.getElementById(clientID);
    return fieldRef.checked;
}
function SetValCb(clientID, newVal)
{
    var fieldRef = document.getElementById(clientID);
    fieldRef.checked = newVal;
}
function GetIndexDdl(clientID)
{
    var fieldRef = document.getElementById(clientID);
    return fieldRef.selectedIndex;
}

function SetIndexDdl(clientID, index)
{
    var fieldRef = document.getElementById(clientID);
    return fieldRef.options[index].selected=true;
}

function SetEnabled(clientID, enabled)
{
    var fieldRef = document.getElementById(clientID);
    fieldRef.disabled = !enabled;
}

var _dtBaseId = 'Pg:Fm:editPb:medDt:';
function getRowId(row, name)
{
    return _dtBaseId + row + ':' + name;
}

function getDrugList( name) {
  var drugQuery = ""; 
  drugQuery += " Select id, name, generic__c, trade__c";
  drugQuery += " from ref_drug__c ";    
  drugQuery += " where name like '" + name + "%' and is_deleted__c = false";
  
  sforce.connection.sessionId = "{!$Api.Session_ID}";
  var drugResult = sforce.connection.query(drugQuery);   
  
  return drugResult.getArray("records");
}

function helpBox()
{
alert("It Worked");
}
</script>

    <apex:form id="Fm" >
        <apex:pageBlock id="editPb" title="Patient Edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!saveCurrentMedList}" value="Save"/>
                <apex:commandButton action="{!cancelMedList}" value="Cancel" immediate="true"/>			
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="noMedPbs" title="Current Medication Entry" columns="1">
                <div>&nbsp;</div>
            </apex:pageBlockSection>
            <apex:outputPanel id="bodyPanel">
                <apex:dataTable id="medDt" value="{!currentMeds}" var="med" headerClass="facetClass" styleClass="drugClassTbl" columnClasses="classCol1" rowClasses="row1, row2" width="100%" rendered="{!showMedList}"  >
                  
                    <apex:column style="width:110px; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px; border-right-style:solid; border-right-color:#dedede; border-right-width:0px; text-align:left;">
                        <apex:facet name="header">&nbsp;Medication</apex:facet>
                        <apex:inputField id="nameTb" value="{!med.obj.med_name__c}" style="width:110px; color:#333333;" />
                        <div id='autocomplete-popup{!med.RowNum}' class='autocomplete'>
                            <span></span>
                        </div>
                    </apex:column>
                    <apex:column style="width:60px; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px; border-right-style:solid; border-right-color:#dedede; border-right-width:0px; text-align:left;">
                        <apex:facet name="header">Dosage</apex:facet>
                        <apex:inputField id="dosageTb"  value="{!med.obj.dosage__c}" style="width:40px; color:#333333;"/>
                    </apex:column>
                    <apex:column style="width:90px; border-right-style:solid; border-right-color:#dedede;    border-right-width:0px; text-align:left; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">Unit</apex:facet>
                        <apex:inputField id="unitDdl" value="{!med.obj.Unit__c}" style="width:90px; color:#333333;"/>
                    </apex:column>
                    <apex:column style="width:30px; border-right-style:solid; border-right-color:#dedede; border-right-width:0px; text-align:center; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">
                           <span style="text-align:center;">Dose Unknown </span>
                        </apex:facet>
                        <apex:inputField id="unknownCb"  value="{!med.obj.no_dosage__c}"/>
                    </apex:column>
                    <apex:column style="width:90px; border-right-style:solid; border-right-color:#dedede;    border-right-width:0px; text-align:left; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">Start Month</apex:facet>
                        <apex:inputField id="startMonthDdl" value="{!med.obj.start_m_pl__c}" style="width:90px; color:#333333;"/>
                    </apex:column>
                    <apex:column style="width:90px; border-right-style:solid; border-right-color:#dedede;    border-right-width:0px; text-align:left; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">Start Year</apex:facet>
                        <apex:inputField id="startYearDdl" value="{!med.obj.start_y_pl__c}" style="width:90px; color:#333333;"/>
                    </apex:column>

                    <apex:column style="width:90px; border-right-style:solid; border-right-color:#dedede;    border-right-width:0px;text-align:left; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">Effectiveness</apex:facet>
                        <apex:inputField id="effDdl" value="{!med.obj.effect_pl__c}" style="width:90px; color:#333333;" >

                        </apex:inputField>
                    </apex:column>
                    <apex:column style="width:200px; border-right-style:solid; border-right-color:#b6b6b5;    border-right-width:1px;text-align:left; padding-left:13px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
                        <apex:facet name="header">&nbsp;Side Effects</apex:facet>
                        <apex:inputField id="sideDdl" value="{!med.obj.side_effects__c}" style="color:#333333; width:200px;"/>
                    </apex:column>
                    
                </apex:dataTable>
            </apex:outputPanel>

            <div>&nbsp;</div>
            <div>&nbsp;</div>
		<apex:outputPanel >
		<script>
		for (var rowMed = 0; rowMed < {!rowCount}; rowMed++) {    
			autocomplete(getRowId(rowMed, 'nameTb'), 'autocomplete-popup' + rowMed); 
		}    
		</script>       
        </apex:outputPanel>
    </apex:pageBlock>
</apex:form>  

</apex:page>