<apex:page standardController="r_patient__c" extensions="patientControllerExt" id="patientEdit">
 <script>

window.onload = function tabIndexing()
{

document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemLastName:patientEditLastName").tabIndex = 1;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemFirstName:patientEditFirstName").tabIndex = 2;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemMiddleInit:patientEditMiddleInit").tabIndex = 3;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemDOB:patientEditDOB").tabIndex = 4;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemHandedness:patientEditHandedness").tabIndex = 5;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:patientEditBlockSect:sectItemGender:patientEditGender").tabIndex = 6;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:sectItemProvPatId:patientEditProvPatId").tabIndex = 7;
document.getElementById("patientEdit:patientEditForm:patientEditBlock:sectItemPhysician:patientEditPhysician").tabIndex = 8;
}

  </script>
<apex:form id="patientEditForm">
	<apex:pageBlock title="Patient Edit" id="patientEditBlock">
		<apex:pageBlockButtons >
			<apex:commandButton action="{!save}" value="Save"/>
			<apex:commandButton action="{!cancel}" value="Cancel"/>
		</apex:pageBlockButtons>        
        <apex:pageBlockSection title="Patient Information" id="patientEditBlockSect">
        <apex:pageBlockSectionItem id="sectItemLastName">
			LastName
            <apex:inputField id="patientEditLastName" value="{!r_patient__c.name}" required="true" style="vertical-align:top; text-align:left;" />
        </apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem id="sectItemOwner">
			Owner
			<apex:inputField id="patientEditOwner" value="{!r_patient__c.OwnerId}" required="true" style="vertical-align:top; text-align:left;" />
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem id="sectItemFirstName">
			First Name
			<apex:inputField id="patientEditFirstName" value="{!r_patient__c.first_name__c}" style="vertical-align:top; text-align:left;" />
		</apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="sectItemDOB">
            Date of Birth (MM/DD/YYYY)
            <apex:inputField id="patientEditDOB" value="{!r_patient__c.dob__c}" required="true" style="vertical-align:top; text-align:left;" />
        </apex:pageBlockSectionItem>
      
        <apex:pageBlockSectionItem id="sectItemHandedness">
            Handedness
            <apex:inputField id="patientEditHandedness" value="{!r_patient__c.handedness__c}" style="vertical-align:top; text-align:left;" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="sectItemMiddleInit">
            Middle Inital
            <apex:inputField id="patientEditMiddleInit" value="{!r_patient__c.middle_initial__c}" style="vertical-align:top; text-align:left;" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem id="sectItemGender">
			Gender
            <apex:inputField id="patientEditGender" value="{!r_patient__c.Gender__c}" required="true" style="vertical-align:top; text-align:left;" required="true" />
        </apex:pageBlockSectionItem>
        <apex:inputField value="{!r_patient__c.anticipated_eeg_test__c}" /> 
        </apex:pageBlockSection>
        <apex:pageBlockSection title="System Identification" id="sectItemProvPatId">
            <apex:inputField value="{!r_patient__c.prov_pat_id__c}" id="patientEditProvPatId"/>           
            <apex:outputField value="{!r_patient__c.CNS_ID__c}" /> 
        </apex:pageBlockSection>
        <apex:pageBlockSection title="System Flags" id="sectItemPhysician">
            <apex:inputField value="{!r_patient__c.physician__c}" rendered="{!IsMgr}" id="patientEditPhysician"/>
			<apex:inputField value="{!r_patient__c.test_data_flag__c}" />
            <apex:outputField value="{!r_patient__c.CreatedById}" /> 
            <apex:outputField value="{!r_patient__c.LastModifiedById}" /> 
        </apex:pageBlockSection>
     </apex:pageBlock>
  </apex:form>  
</apex:page>