<apex:page showHeader="false" sidebar="false" standardController="r_reeg__c" extensions="phy_PeerEditController" >
<html>
<c:phy_HeadComponent pageTitle="Peer Requisition Edit"/>
<style>
      table.sample { border-width: 1px; border-spacing: ; border-style: outset; border-color: gray; border-collapse: separate; background-color: rgb(255, 245, 238); }
table.sample th { border-width: 1px; padding: 3px; border-style: none;  border-color: gray; background-color: rgb(250, 240, 230); -moz-border-radius: ; }
table.sample td { border-width: 1px; padding: 3px; border-style: none;  border-color: gray; background-color: rgb(250, 240, 230); -moz-border-radius: ; }
.treeDiv {  width: 15%;  float: left;  background-color: rgb(255, 249, 239);  border:solid 1px grey;  height: 1000px; padding-left: 5px; }
.style1 { width: 55px;  text-align:center;}
.style2  { width: 39px;}
.style3 { width: 55px; text-align:center; }
.headerS { padding: 5px 5px 5px 5px; color: #194B7D; }
.data { text-align: center;  }
.menu { width: 400px;  }
h2 { font-size: 100%; }
.message { margin-left: 0px; margin-right: 0px; margin-top: 4px; margin-bottom: 4px; }  
</style>
<body> 
<div id="container" style="width: 1000px">
    <div id="content" style="width: 1000px">
        <div class="header" style="width: 1000px"><img width="1000px" height="131px" src="{!$Resource.Retro}/images/new-mynd-analytics-header-v2.jpg" alt="" /></div>
        <div class="navigation" style="width: 1000px">
            <c:phy_NavComponent userName="{!userName}" linkStyle="padding-top: 5px"/>  
        </div>
        <div id="leftColumn" style="width: 100%" >
            <apex:pagemessages id="messages" escape="false"/>
        <apex:form id="Fm" >
        <apex:pageBlock id="editrEEGb" title="Peer Edit">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!SaveEdit}" value="Save"/>
                <apex:commandButton action="{!gotoView}" value="Cancel" immediate="true"/>
                <span style="color:red;">
                    <apex:messages />
                </span> 
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1"> 
                <apex:outputField value="{!r_reeg__c.reeg_type__c}" />
                <apex:outputField value="{!r_reeg__c.Name}" />
                <apex:outputField value="{!r_reeg__c.req_date__c}" />
                <apex:inputField value="{!r_reeg__c.Bill_To__c}" rendered="{!IsMgr}" />
                <apex:inputField value="{!r_reeg__c.billing_code__c}" rendered="{!IsMgr}" />
                <apex:inputField value="{!r_reeg__c.r_eeg_tech_contact__c}"  />
                <apex:inputField value="{!r_reeg__c.phy_billing_code__c}"/>
                <apex:inputField value="{!r_reeg__c.review_needed__c}" />
                <apex:inputField value="{!r_reeg__c.test_data_flag__c}" rendered="{!IsMgr}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>     
        </div>
        <div class="clear"></div>    
        <div class="spacer"></div>  
        <div class="bottomGradient" style="width: 1033px"></div>
        <apex:include pageName="phy_Footer"/>
    </div>
</div> 
</body>
</html>
</apex:page>