<apex:page id="pg" sidebar="false" showHeader="false" tabStyle="PEER_Documentation__c" standardController="PEER_Documentation__c" extensions="phy_PEERTermsOfUseController" cache="false" title="PEER Document" action="{!loadAction}">
<html>
	<c:phy_HeadComponent pageTitle="Peer Document"/>
	<style>
		table.sample {
		 	border-width: 1px;
		    border-spacing: ;
		    border-style: outset;
		    border-color: gray;
		    border-collapse: separate;
		    background-color: rgb(255, 245, 238);
		}
		table.sample th {
		    border-width: 1px;
		    padding: 3px;
		    border-style: none;
		    border-color: gray;
		    background-color: rgb(250, 240, 230);
		    -moz-border-radius: ;
		}
		table.sample td {
		    border-width: 1px;
		    padding: 3px;
		    border-style: none;
		    border-color: gray;
		    background-color: rgb(250, 240, 230);
		    -moz-border-radius: ;
		}
		.treeDiv
		{
		    width: 16%; 
		    float: left; 
		    background-color: #FAFAD2; 
		    border:solid 1px grey; 
		    padding-right: 2px;  
		    padding-left: 5px;
		}
	    .style1
	    {
	        width: 55px;
	        text-align:center;
	    }
	    .style2
	    {
	        width: 39px;
	    }
	    .style3
	    {
	        width: 55px;
	        text-align:center;
	    }
        .headerS {
            padding: 5px 5px 5px 5px;
            color: #194B7D;
            /*background-color:#194B7D; */
        }
        .data {
            text-align: center;
        }
        .menu {
            width: 400px;
        }
        h2 {
            font-size: 100%;
        }
	</style>
	<body>
		<div id="container" style="width: 1000px">
		    <div id="content" style="width: 1000px">
		        <div class="header" style="width: 1000px"><img width="1000px" height="131px" src="{!$Resource.Retro}/images/new-mynd-analytics-header-v2.jpg" alt="" /></div>
		        <div id="leftColumn" style="width: 100%" >
		            <apex:pagemessages id="messages" escape="false"/>
		    		<apex:form id="testForm">
		    			<div style="width:100%; min-height:400px;" >
		    				<br />
		    				<br />
		    				<apex:outputField value="{!PEERDoc.Body__c}" style="width:100%; padding-top:10; padding-left:10" />
		    			</div>
						<div align="center">
							<br />
							<apex:inputCheckbox id="checkboxTOU" value="{!TOUAgreed}" />
							<apex:outputText value="I agree to the Terms of Use" />
						</div>
						<div align="center">
							<apex:outputText style="color: red; font-weight: bold;" value="You must agree to the Terms of Use to continue" rendered="{!NotAgreedOK}" />
						</div>
						<div align="center">
							<br />
							<apex:commandButton value="     OK     " action="{!okAction}" />
							<apex:commandButton value="     Cancel     " action="{!cancelAction}" />
							<apex:commandButton value="     Print     " onclick="window.open('/apex/PEERTermsOfUsePrint')" />
						</div>
		    		</apex:form>
			    </div>
		        <div class="clear"></div>
		        <div class="spacer"></div>  
		        <div class="bottomGradient" style="width: 1033px"></div>
		        <c:phy_FooterComponent rfStyle="display: none;"/>
		    </div>
		</div> <!-- End of container -->
	</body>
</html>
</apex:page>