<apex:page standardController="r_reeg__c" extensions="PEERAdminController" tabStyle="r_reeg__c" action="{!loadAction}">
<apex:SectionHeader title="PEER Edit" subtitle="{!r_reeg__c.name}" />
<apex:form id="Fm" >
        <apex:pageBlock id="editrEEGb" title="PEER Info" >
            <apex:pageBlockSection >
            	<apex:outputField value="{!reeg.r_patient_id__c}" />
            	<apex:pageBlockSectionItem >
            		PEER Type
            		<apex:outputPanel > {!reeg.reeg_type__c} {!reeg.reeg_type_mod__c} </apex:outputPanel>
            	</apex:pageBlockSectionItem>
                <apex:outputField value="{!reeg.r_physician_id__c}" />
                <apex:outputField value="{!reeg.req_date__c}" />
                <apex:outputField value="{!reeg.r_eeg_tech_contact__c}" />                
                <apex:outputField value="{!reeg.req_stat__c}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Billing Edit">
          	<apex:pageBlockButtons >
                <apex:commandButton action="{!saveAdminAction}" value="Save"/>
                <apex:commandButton action="{!cancelAction}" value="Cancel" immediate="true"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2">
            	<apex:inputField value="{!reeg.InvoiceNumber__c}"  />            
            	<apex:inputField value="{!reeg.Bill_To__c}"/ >
            	<apex:inputField value="{!reeg.billing_code__c}"/ >
            	<apex:inputField value="{!reeg.billing_other__c}"/ >
            	<apex:inputField value="{!reeg.billed_status__c}"/ >
            	<apex:inputField value="{!reeg.billing_date__c}" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>