<apex:page showHeader="false" sidebar="false" standardStyleSheets="false">
<!-- This section of code is used on the bottom of the PEER Requisition form. -->
<div class="bottomGradient" style="width: 1033px"><span style="margin-left: 15px; background-color:#C00 ">&nbsp;</span> - Indicates required field</div>
       
<div class="footer" style="width: 1033px; ">
    <div style="float:left; width:100%;">
    	<div style="float:left; text-align:left; color:#FFFFFF; width:500px; padding-left:12px; padding-top:6px;">
    		<span style="color:#FFFFFF; text-decoration:none;" >Copyright <script type="text/JavaScript"> var theDate=new Date(); document.write(theDate.getFullYear()); </script> MYnd Analytics </span>
	    </div>
	    <div style="float:left; text-align:right; padding-right:12px; padding-top:6px; color:#FFFFFF; width:500px;">
	    	Have a question, 
	    	<a style="color:#FFFFFF;" href="mailto:info@cnsresponse.com?subject=PEER Portal">
	 			contact us
	 		</a> 
	    </div>
    </div>
   
</div>
</apex:page>