<apex:page id="pg" sidebar="false" showHeader="false" tabStyle="r_reeg__c" controller="phy_PeerReportController" action="{!loadAction}" cache="false" title="Drug Report">

                <iframe style="border: 0px" src ="{!Domain}/OnlineReporting/SummaryPrint.aspx?rid={!reeg.Id}&cat={!drugName}&env={!Domain}" width="98%" height="1150">
                  <p>Your browser does not support iframes.</p>
                </iframe>
            <!--   <a href="#" onclick="javascript:window.print();" >Print</a>  --> 

</apex:page>