<apex:page showHeader="false">
<title>CNS Response</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="MobileOptimized" content="width" /> 
<meta name="HandheldFriendly" content="true" />
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iPadUtil.css" />
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/iLogin.css" />

	<form name="loginForm" action="https://www.salesforce.com/secur/login_portal.jsp" method="POST" base_target="_top">
	<input type="hidden" name="startURL" value="/apex/phy_PeerListS2"/> 
	<input type="hidden" name="loginURL" value=""/> 
    <input type="hidden" name="useSecure" value="true"/> 
    <input type="hidden" name="orgId" value="00DJ0000002iZdM"/> 
	<input type="hidden" name="portalId" value="06060000000D18q"/> 
	<input type="hidden" name="loginType" value="3"/> 
	<input type="hidden" name="action" value="loginAction"/> 
 QA portal login
 <div class="center">
 	<div class="loginTop">
	<img src="{!$Resource.CNS_Util}/Images/cns_wave_small.png"/>
	<div class="clear"></div>
	<img src="{!$Resource.Res}/images/peer_logo.png"/>          
    </div>
    
	<div class="loginBody"> 
	<span class="usr">
	<input autocomplete="on" type="text" NAME="un" size="25" maxlength="80" value="" class="username"/> 
	</span>
	<div class="clear"></div>
	<span class="pword">
	<input autocomplete="off" type="password" id="password" name="pw" size="25" maxlength="80" value="" class="pw"/>
	</span>
	</div> 

	<div class="btns">
		<input type="submit" class="btn" value="Login" class="loginBtn"/> 
		<div class="clear"></div>
		<div class="forgotPassword">
		<a id="forgotPassword" 
			href="https://na4.salesforce.com/secur/forgotpasswordp.jsp?orgId=00D3000000060bh&portalId=06060000000D18q&pLu=%2Fsecur%2Flogin_portal.jsp">Forgot your Password</a>
		</div>
	</div> 
</div>
</form>
XXXXX
</apex:page>