<apex:page controller="QsController">
    <apex:form >
        <apex:pageBlock title="Quick Start">
            <apex:pageBlockButtons >
                <apex:commandButton value="FTP Scan" action="ftpScan"/>
        <apex:commandButton value="Refresh" action="refresh"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Received EEGs" columns="1">               
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>