<apex:page id="pg" standardController="r_reeg__c" extensions="rEEGControllerExt" action="{!loadAction}" tabStyle="r_reeg__c">
<apex:stylesheet value="{!$Resource.CNS_Util}/Theme/commonUtil.css"/>
    <style>
    
        .activeTab {background-color: #acbf40; color:white; background-image:none;}
        .inactiveTab { background-color: #ffffff; color:black; background-image:none;}
        .pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescriptionm .list .headerRow, .noRowsHeader
        {
        color:none;
        }

        .dr-tbpnl-tb
        {
        color:black;
        }

        .dr-tbpnl-tb-act
        {
        color:white;
        }

        .panelStyle
        {
        border-width:1px;
        border-color:#b6b6b5;
        border-style:solid;
        width:100%;
        }

        .panelHeaders
        {
        background-color:#000;
        }



        .tabPanelContent{
        border-top-width:1px;
        border-top-style:solid;
        border-top-color:#dbd5ac;
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:#dbd5ac;
        border-right-width:1px;
        border-right-style:solid;
        border-right-color:#dbd5ac;
        border-left-width:1px;
        border-left-style:solid;
        border-left-color:#dbd5ac;
        height:100%;
        display:block;
        }

        .tabPanelWrapper{
        border-bottom-width:1px;
        border-bottom-color:#dbd5ac;
        border-bottom-style:solid;
        }
        .drugClassTbl
        {
        border-left-width:0px;
        border-left-color:#CCCCCC;
        border-left-style:solid;
        border-bottom-width:0px;
        border-bottom-color:#CCCCCC;
        border-bottom-style:solid;
        border-top-style:solid;
        border-top-color:#CCCCCC;
        border-top-width:0px;
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        font-size:11px;
        }

        .cnsVarClassCol
        {
        border-top-style:solid;
        border-top-color:#cccccc;
        border-top-width:1px;
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        text-align:right;
        }

        .cnsVarClassHdr
        {
        text-align:right;
        }

        .classCol1
        {
        border-top-style:solid;
        border-top-color:#cccccc;
        border-top-width:1px;
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        }

        .classCol2
        {
        border-top-style:solid;
        border-top-color:#cccccc;
        border-top-width:1px;
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        }

        .classRow1
        {
        background-color:#eeeeee;

        }

        .classRow2
        {
        background-color:#ffffff;
        }
        .row1
        {

        }

        .row2
        {
        }

        .drugClassCol
        {
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        }

        .sensClassCol
        {
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;

        }

        .bioClassCol
        {
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        }

        .facetClass
        {
        border-right-style:solid;
        border-right-color:#CCCCCC;
        border-right-width:0px;
        border-bottom-width:1px;
        border-bottom-color:#CCCCCC;
        border-bottom-style:solid;
        color:#333333;
        background-color:#ffffff;
        }

        .headerRowClass
        {
        border-bottom-style:solid;
        border-bottom-color:#CCCCCC;
        border-bottom-width:2px;
        color:#333333;

        }

        .medResponseTd
        {
        border-width:1px;
        border-style:solid;
        border-color:#b7babc;
        }


    </style> 
<hr  size="1"></hr>
<!-- <span style="position:absolute; top: 32px; left: 525px; font-size:3em; color:red;">rEEG Summary</span>  -->
<apex:SectionHeader title="PEER" subtitle="{!r_reeg__c.name}" >
</apex:SectionHeader>
<div style="text-align: center;width:75%; padding-bottom:5px;"><span style="font-size:3em; color:red;">PEER Summary</span></div>
  <apex:form id="fm">
    <apex:InputHidden value="{!r_reeg__c.stat_is_corr__c}" />

    <apex:pageBlock id="peerPb" title="PEER Detail">
        <apex:pageBlockButtons >
        
        	<apex:commandButton action="{!gotoEEGUploadPage}" value="Upload EEG" rendered="{!AND(isEegUploadBtnAvail, IsPhyTech) }"/>
            <apex:commandButton action="{!edit}" value="Edit" rendered="{!IsMgrLevel3}" />
            <apex:commandButton action="{!CancelReegPatReq}" value="Cancel - Patients Request"  />
            <apex:commandButton action="{!adminPage}" value="Admin" rendered="{!IsMgrLevel4}" />
            <apex:commandButton action="{!LoadPEER}" value="Build PEER" rendered="{!ShowLoadPEER}" />
            <apex:commandButton action="{!submit}" value="Submit" rendered="{!ShowSubmitBtn}"/>
           <!-- <apex:commandButton action="{!finalize}" value="Finalize" rendered="{!ReportReadyForFinalize}" onclick="openFinalizeWindow('{!r_reeg__c.Id}');"/>
           -->
            <apex:commandButton action="{!SetupFinalizeSection}" value="Finalize" rendered="{!AND(ReportReadyForFinalize, NOT(showFinalizePanel))}" rerender="peerPb"/>
            <apex:commandButton action="{!changeToCompletedGroup}" value="Set Patient to Completed Group" rendered="{!AND(IsMgrLevel3, IsControlGroup)}"/>
  
            <span style="color:red;"><apex:messages /></span>
        </apex:pageBlockButtons>
        <apex:outputPanel rendered="{!showFinalizeInProgressPanel}" >
            <apex:pageBlock id="finalizeInProgressPb" title="Report Finalize" mode="edit" >
                <div style="background-color: #FAFAD2;"><apex:outputText value="{!ResultMessage}" /> </div>
            </apex:pageBlock>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!showFinalizePanel}" >
            <apex:pageBlock id="finalizePb" title="Report Finalize" mode="edit">
                <div style="background-color: #FAFAD2;">
                    <apex:panelGrid columns="1" cellspacing="10">
                        <apex:outputText value="This will finalize and rebuild the report document. "/>
                    </apex:panelGrid>
                    <apex:pageBlockSection columns="2">
                        <apex:outputField value="{!currentUser.Name}" style="padding-left:10px;"/> 
                        <apex:outputField value="{!ReportDoc.Name}" style="padding-left:10px;"/>     
                        <apex:outputField value="{!ReportDoc.rpt_file_name__c}" style="padding-left:10px;"/>   
                        <apex:inputField value="{!ReportDoc.version_notes__c}" style="padding-left:3px; width:300px;"/> 
                    </apex:pageBlockSection>
                    <div style="padding-right: 10px; width:100%; ">
                         <apex:panelGrid columns="2" cellspacing="10">
                          <apex:outputText value="Password: " style="font-weight:bold;"/>
                          <apex:inputSecret value="{!PasswordVal}" />
                        </apex:panelGrid>
                    </div>
                    <table width="100%">
                      <tr>
                        <td><span style="color:red; padding-left:40px;"><apex:outputText value="{!finalizeErrorMsg}" /></span></td>
                      </tr>
                      <tr>
                        <td align="center" cellspacing="10"  width="100%">
                            <apex:outputPanel >
                                <apex:commandButton value="Submit" action="{!FinalizeReegAction}" rerender="peerPb"/>    
                                <apex:commandButton action="{!HideFinalizeSection}" value="Cancel" rerender="peerPb"/>          
                            </apex:outputPanel>
                        </td>
                      </tr>
                    </table>
                </div>
            </apex:pageBlock>
        </apex:outputPanel>
       <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem >
                PEER Type
                <apex:outputField value="{!r_reeg__c.reeg_type__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                PEER ID
                <apex:outputField value="{!r_reeg__c.Name}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                PEER Type Modifier
                <apex:outputField value="{!r_reeg__c.reeg_type_mod__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Request Date
                <apex:outputField value="{!r_reeg__c.req_date__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem >
                Patient
                <apex:outputField value="{!r_reeg__c.r_patient_id__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Status
                <apex:outputField value="{!r_reeg__c.req_stat__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Patient First Name
                <apex:outputText value="{!PatientFirstName}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Report Status
                <apex:outputField value="{!r_reeg__c.rpt_stat__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Patient Age 
                <apex:outputText value="{!r_reeg__c.patient_age__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Physician
                <apex:outputField value="{!r_reeg__c.r_physician_id__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                Bill To
                <apex:outputField value="{!r_reeg__c.Bill_To__c}" style="vertical-align:top; text-align:left;">&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:outputField value="{!r_reeg__c.r_eeg_tech_contact__c}" />
            <apex:pageBlockSectionItem >
                Billing Code
                <apex:outputField value="{!r_reeg__c.billing_code__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                EEG Status
                <apex:outputField value="{!r_reeg__c.eeg_rec_stat__c}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Billing - Other
                <apex:outputField value="{!r_reeg__c.billing_other__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
         	<apex:pageBlockSectionItem >
                CNS Test ID
                <apex:outputField value="{!r_reeg__c.corr_cns_id__c}" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem> 
            <apex:pageBlockSectionItem >
                Billing Status
                <apex:outputField value="{!r_reeg__c.billed_status__c}" />
            </apex:pageBlockSectionItem>
            <apex:outputField value="{!r_reeg__c.insert_method__c}" rendered="{!IsMgrLevel3}" >&nbsp;</apex:outputField>   
            <apex:pageBlockSectionItem >
                Billing Date
                <apex:outputField value="{!r_reeg__c.billing_date__c}" />
            </apex:pageBlockSectionItem>
            
            
            <apex:outputField value="{!r_reeg__c.LastModifiedById}" />
            <apex:outputField value="{!r_reeg__c.review_needed__c}" >&nbsp;</apex:outputField>
            <apex:outputField value="{!r_reeg__c.LastModifiedDate}" />
            <apex:outputField value="{!r_reeg__c.marketing_source__c}" >&nbsp;</apex:outputField>
        	<apex:outputField value="{!r_reeg__c.test_data_flag__c}" rendered="{!IsMgrLevel3}" >&nbsp;</apex:outputField>
            
            
            <apex:outputField value="{!r_reeg__c.submit_key__c}" rendered="false" >&nbsp;</apex:outputField>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="Vitals & Substance Use" columns="2">
            <apex:pageBlockSectionItem >
                Alcohol
                <apex:outputField value="{!r_reeg__c.sub_alcohol__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
            	&nbsp;
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Caffeine
                <apex:outputField value="{!r_reeg__c.sub_caff__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Blood Pressure (At Request Time)
                <apex:outputField value="{!r_reeg__c.vital_bp_req__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Tobacco
                <apex:outputField value="{!r_reeg__c.sub_tobac__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Resting Pulse (At Request Time)
                <apex:outputField value="{!r_reeg__c.vital_rp_req__c}" style="vertical-align:top; text-align:left;" >&nbsp;</apex:outputField>
            </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Medications" columns="1">
              <apex:dataTable value="{!oMeds}" var="med" cellpadding="6" width="100%" columnsWidth="30%, 10%, 10%, 10%, 15%, 15%"  border="0"  columnClasses="classCol3" headerClass="headerClass" id="outcomeMedTbl">
	                <apex:column >
	                    <apex:facet name="header">Medication Name</apex:facet>
	                    <apex:outputField value="{!med.obj.med_name__c}" />     
	                </apex:column>
	                <apex:column id="patientViewColumnDose">
	                    <apex:facet name="header">Dosage</apex:facet>
	                    <apex:outputText value="{!med.obj.dosage__c}" />             
	                </apex:column>  
	                <apex:column >
	                    <apex:facet name="header">Unit</apex:facet>
	                    <apex:outputField value="{!med.obj.unit__c}">&nbsp;</apex:outputField>
	                </apex:column>
	                <apex:column >
	                    <apex:facet name="header">Freq</apex:facet>
	                    <apex:outputField value="{!med.obj.frequency__c}">&nbsp;</apex:outputField>
	                </apex:column>
	                <apex:column >
	                    <apex:facet name="header">Start Date</apex:facet>
	                    <apex:outputField value="{!med.obj.start_date__c}">&nbsp;</apex:outputField>
	                </apex:column>
	                <apex:column >
	                    <apex:facet name="header">End Date</apex:facet>
	                    <apex:outputField value="{!med.obj.end_date__c}">&nbsp;</apex:outputField>
	                </apex:column>
	            </apex:dataTable>    
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Other Tests" rendered="{!IsMgrLevel1}" columns="1">
                <apex:dataTable value="{!tests}" var="test" cellpadding="6" width="100%" columnsWidth="33%, 33%, 33%"  border="0"  columnClasses="classCol1" styleClass="drugClassTbl">
                    <apex:column >
                        <apex:facet name="header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PEER Name</apex:facet>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                            <apex:outputLink value="/apex/rEEGViewPage?id={!test.obj.id}">{!test.obj.name}</apex:outputLink>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Test Date</apex:facet>
                        <apex:outputField id="testDateLbl" value="{!test.obj.req_date__c}" style="color:#333333;" />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Test Type</apex:facet>
                        &nbsp;&nbsp;&nbsp;<apex:outputField id="testTypeLbl" value="{!test.obj.reeg_type__c}" style="color:#333333;" />
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Commentary" rendered="{!ShowCommentaryPortal}" columns="1">
              <apex:outputField value="{!r_reeg__c.rpt_cns_com__c}" style="color:#333333;" />
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Status" columns="1">
               <apex:pageBlock title="Status Board" rendered="{!NOT(OR(isPO1, isPO2))}" >
               	<!-- this is the status board for the Classic rEEG process -->
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                        <tr>
                            <td width="175"  style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">&nbsp;</td>
                            <td width="42" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; ">
                                <div align="center">
                                    <strong>Status</strong>
                                </div>
                            </td>
                            <td width="86" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">&nbsp;</td>
                            <td width="188" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; ">
                                <strong>Sent</strong>
                            </td>
                            <td width="195" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;" >
                                <strong>Completed</strong>
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>EEG ({!r_reeg__c.eeg_make__c})</strong>
                            </td>
                            <td class="{!statusLightEEGSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; color:#999999;">N/A</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.eeg_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowEEGLink};"><a href="{!DownloadEEGHref}">EEG</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Neurological Review</strong>
                            </td>
                            <td class="{!StatusLightNeuroSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                 &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.neuro_send_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.neuro_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowNeuroLink};"><a href="{!downloadNeuroHref}">Neuro Report</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Artifacting</strong>
                            </td>
                            <td class="{!StatusLightArtSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                 &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.art_send_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.art_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowArtLink};"><a href="{!downloadArtHref}">Artifacting Results</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Corr Engine</strong>
                            </td>
                            <td class="{!StatusLightCorrSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                 &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; color:#999999;">N/A</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.corr_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowCorrLink};"><a href="{!downloadCorrHref}">Correlation Spreadsheet</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Report</strong>
                            </td>
                            <td class="{!StatusLightReportSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; color:#999999;">N/A</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.rpt_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowReportLinkAdmin};"><a href="{!downloadReportHref}">Current Version</a></span> &nbsp;
                                <span style="visibility:{!ShowReportLinkAdmin};"><apex:outputLink value="/apex/rpt_doc_l?rId={!r_reeg__c.id}">All Versions</apex:outputLink></span>
                                <span style="visibility:{!ShowReportLinkAdmin};"><apex:outputLink value="/apex/RptDecisionDevPage?rId={!r_reeg__c.id}">RDBA Edit</apex:outputLink></span>
                                <span style="visibility:{!ShowOnlineWRReport};"><apex:outputLink value="/apex/wr_PeerSummaryS2?rId={!r_reeg__c.id}&pgid=1">Online Report</apex:outputLink></span>
                                <span style="visibility:{!ShowOnlineReport};"><apex:outputLink value="/apex/phy_PeerSummaryS2?rId={!r_reeg__c.id}&pgid=1">Online report</apex:outputLink></span>
                                <span style="visibility:{!ShowOnline2Report};"><apex:outputLink value="/apex/peer_Summary2?rId={!r_reeg__c.id}&pgid=1">Online 2.0 Report</apex:outputLink></span>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                    </table>
                </apex:pageBlock>
                <apex:pageBlock title="Status Board" rendered="{!OR(isPO1,isPO2)}" >
               	<!-- this is the status board for the new PEER process -->
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                        <tr>
                            <td width="175"  style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">&nbsp;</td>
                            <td width="42" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; ">
                                <div align="center">
                                    <strong>Status</strong>
                                </div>
                            </td>
                            <td width="86" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">&nbsp;</td>
                            <td width="188" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; ">
                                <strong>Sent</strong>
                            </td>
                            <td width="195" valign="bottom" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;" >
                                <strong>Completed</strong>
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>EEG ({!r_reeg__c.eeg_make__c})</strong>
                            </td>
                            <td class="{!statusLightEEGSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; color:#999999;">N/A</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.eeg_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowEEGLink};"><a href="{!DownloadEEGHref}">EEG</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Neurological Review</strong>
                            </td>
                            <td class="{!StatusLightNeuroSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                 &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.neuro_send_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.neuro_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowNeuroLink};"><a href="{!downloadNeuroHref}">Neuro Report</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Artifacting</strong>
                            </td>
                            <td class="{!StatusLightArtSrc}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                 &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.art_send_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.art_rec_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowArtLink};"><a href="{!downloadArtHref}">Artifacting Results</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; font-size:11px;">
                                <strong>Report</strong>
                            </td>
                            <td class="{!StatusLightReportSrcNG}" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:5px; padding-bottom:3px;" align="center">
                                &nbsp;
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">&nbsp;</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px; color:#999999;">N/A</td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc; padding-top:3px; padding-bottom:3px;">
                                <apex:outputField value="{!r_reeg__c.rpt_date__c}" style="color:#333333;" />
                            </td>
                            <td style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <span style="visibility:{!ShowOnlineWRReport};"><apex:outputLink value="/apex/wr_PeerSummaryS2?rId={!r_reeg__c.id}&pgid=1">Online Report</apex:outputLink></span>
                                <span style="visibility:{!ShowOnlineReport};"><apex:outputLink value="/apex/phy_PeerSummaryS2?rId={!r_reeg__c.id}&pgid=1">Online report</apex:outputLink></span> 
                                <span style="visibility:{!ShowOnline2Report};"><apex:outputLink value="/apex/peer_Summary2?rId={!r_reeg__c.id}&pgid=1">Online 2.0 Report</apex:outputLink></span>
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                    </table>
                </apex:pageBlock>
                <apex:pageBlock title="Historical Downloads" rendered="{!IsMgrLevel3}">
                    <span style="visibility:{!ShowEEGHistLink};"><a href="{!DownloadEEGHistHref}">EEG</a></span>
                    <span style="visibility:{!ShowArtUpHistLink};"><a href="{!downloadArtUpHistHref}">Artifacting Upload</a></span>
                    <span style="visibility:{!ShowArtDownHistLink};"><a href="{!downloadArtDownHistHref}">Artifacting Download</a></span>
                    <span style="visibility:{!ShowNeuroHistLink};"><a href="{!downloadNeuroHistHref}">Neuro Report</a></span>
                    <span style="visibility:{!ShowCorrHistLink};"><a href="{!downloadCorrHistHref}">Corr Spreadsheet</a></span>
                    <span style="visibility:{!ShowCEEGHistLink};"><a href="{!DownloadCEEGHistHref}">CEEG</a></span>
                    <span style="visibility:{!ShowNxlinkHistLink};"><a href="{!DownloadNxlinkHistHref}">NxLink</a></span>
                    <span style="visibility:{!ShowOtherHistLink};"><a href="{!DownloadOtherHistHref}">Other</a></span>
                    <span style="visibility:{!ShowHist1ReportLinkAdmin};"><a href="{!downloadHist1ReportHref}">Report 1</a></span>
                    <span style="visibility:{!ShowHist2ReportLinkAdmin};"><a href="{!downloadHist2ReportHref}">Report 2</a></span>
                </apex:pageBlock>  
                <apex:pageBlock title="Physician Generated Diagnosis">
                    <apex:pageBlockButtons >
                        <apex:commandButton action="{!dxListEditPage}" value="Add/Edit Diagnosis" rendered="{!IsMgrLevel2}"/>
                    </apex:pageBlockButtons>
                    <apex:dataTable value="{!rEEGDxs}" var="dx" cellpadding="6" width="100%" columnsWidth="10%, 40%, 10%, 10%, 10%"  border="0"  columnClasses="classCol1" headerClass="headerClass">
                        <apex:column >
                            <apex:facet name="header">DSM4</apex:facet>
                            <apex:outputField value="{!dx.name}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Dx Name</apex:facet>
                            <apex:outputField value="{!dx.dx_name__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Primary</apex:facet>
                            <apex:outputField value="{!dx.primary__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Secondary</apex:facet>
                            <apex:outputField value="{!dx.secondary__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Rule Out</apex:facet>
                            <apex:outputField value="{!dx.rule_out__c}" />
                        </apex:column>
                    </apex:dataTable>
                </apex:pageBlock>
                <apex:pageBlock title="Commentary">
                    <apex:pageBlockButtons >
                        <apex:commandButton action="{!refreshReport}" value="Refresh Report (Add commentary changes)" rendered="{!IsCorrAndMgrNotQA}"/>
                        <apex:commandButton action="{!fullRefreshReport}" value="Refresh Report (Full refresh)" rendered="{!IsCorrMgrNotQAAndArt}"/>
                       
                        <!--  NO ONLINE REPORT IN PROD <apex:commandButton action="{!refreshOnlineReport}" value="Refresh Online Report" rendered="{!ShowOnlineRefreshButton}"/> -->
                        <apex:commandButton action="{!decisionActionPage}" value="Decision Actions" rendered="{!IsDecisionRuleAllowed}"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection rendered="{!OR(IsCorrAndMgrNotQA, IsSalesDir)}" columns="1">
                         <apex:outputPanel rendered="{!!IsSalesDir}">
                            <table style="width:100%;border-bottom-color:#999900; color:#333333; font-weight:bold; font-size:11px; border-bottom-style:solid; border-bottom-width:1px; ">
                                <tr>
                                    <td style="width:50%px;">
                                        - Show CNS Commentary to Physician Portal &nbsp;
                                        <apex:outputField value="{!r_reeg__c.show_cns_commentary__c}" />
                                    </td>
                                    <td style="width:50%px;">
                                        -Epileptic Findings Report &nbsp;
                                        <apex:outputField value="{!r_reeg__c.rpt_epileptic__c}" />
                                    </td>
                                </tr>
                                <tr>    
                                    <td style="width:50%px;">
                                        - Show Commentary on Type I(m) report &nbsp;
                                        <apex:outputField value="{!r_reeg__c.rpt_show_commentary__c}" />
                                    </td>
                                    <td style="width:50%px;">
                                        - No Recommendation Report &nbsp;
                                        <apex:outputField value="{!r_reeg__c.rpt_no_recommendation__c}" />
                                    </td>
                                </tr>
                        	</table>
                    	</apex:outputPanel>
                        <table cellpadding="0" cellspacing="0" width="100%" style="margin-top:25px;">
                            <tr>
                                <td width="50%" style="font-size:11px;">
                                    <strong>Corr Engine Generated Commentary</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.rpt_analytic_com__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td width="50%" style="font-size:11px;" valign="top">
                                    <strong>Neuro Commentary</strong>
                                </td>
                                <td width="50%" style="font-size:11px;" valign="top">
                                    <apex:outputText value="{!r_reeg__c.rpt_neuro_com__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="font-size:11px;">
                                    <strong>CNS Commentary</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.rpt_cns_com__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr style="{!IsSeniorProdMgr}">
                                <td width="50%" style="font-size:11px;">
                                    <strong>Neuro Comm Hints</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.Neuro_Comm_Hints__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr style="{!IsSeniorProdMgr}">
                                <td width="50%" style="font-size:11px;">
                                    <strong>QEEG Hints</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.QEEG_Hints__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr style="{!IsSeniorProdMgr}">
                                <td width="50%" style="font-size:11px;">
                                    <strong>Class Rank Hints</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.Class_Rank_Hints__c}"></apex:outputText>
                                </td>
                            </tr>
                            <tr style="{!IsSeniorProdMgr}">
                                <td width="50%" style="font-size:11px;">
                                    <strong>Drug Rank Hints</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText value="{!r_reeg__c.Drug_Rank_Hints__c}"></apex:outputText>
                                </td>
                            </tr>
                             <tr>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr style="{!ExtraCommVisibleHtml}">
                                <td width="50%" style="font-size:11px;">
                                    <strong>Physiologic Changes</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText rendered="{!Type2CommVisible}"  value="{!r_reeg__c.type2_physiologic_changes__c}" />
                                </td>
                            </tr>
                            <tr style="{!ExtraCommVisibleHtml}">
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr style="{!ExtraCommVisibleHtml}">
                                <td width="50%" style="font-size:11px;" valign="top">
                                        <strong>Implications for current medication strategy</strong>
                                    </td>
                                <td width="50%" style="font-size:11px;" valign="top">
                                    <apex:outputText rendered="{!Type2CommVisible}" value="{!r_reeg__c.type2_cur_med_implications__c}" />
                                </td>
                            </tr>
                            <tr style="{!ExtraCommVisibleHtml}">
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    &nbsp;
                                </td>
                                <td width="50%" style="font-size:11px; border-top-style:solid; border-top-width:1px; border-top-color:#cccccc;">
                                    <span style="visibility:visible;">&nbsp;</span>
                                </td>
                            </tr>
                            <tr style="{!ExtraCommVisibleHtml}">
                                <td width="50%" style="font-size:11px;">
                                        <strong>Other</strong>
                                </td>
                                <td width="50%" style="font-size:11px;">
                                    <apex:outputText rendered="{!Type2CommVisible}" value="{!r_reeg__c.type2_other__c}" />
                                </td>
                            </tr>
                        </table>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Reports" rendered="{!IsCorr}" columns="1">
                <apex:pageBlock title="Overall Abnormality">
                    <table cellpadding="0" cellspacing="0" class="drugClassTbl" width="100%">
                        <tr class="row1" >
                            <td  style="padding-left:7px; padding-top:7px; padding-bottom:7px; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <apex:outputText style="font-weight:bold; color:#333333;">
                                    <strong>Test Medications</strong>
                                </apex:outputText>
                            </td>
                            <td style="padding-left:7px; padding-top:7px; padding-bottom:7px; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#cccccc;">
                                <apex:outputField value="{!r_reeg__c.rpt_test_med__c}" style="vertical-align:top; text-align:left;" />
                            </td>
                        </tr>
                        <tr class="row2">
                            <td style="padding-left:7px; padding-top:7px; padding-bottom:7px;">
                                <apex:outputText value="" style="vertical-align:top; text-align:left; font-weight:bold; color:#333333;" >
                                    <strong>Neurophysiologic Abnormality</strong>
                                </apex:outputText>
                            </td>
                            <td style="padding-left:7px; padding-top:7px; padding-bottom:7px;">
                                <apex:outputText value="{!r_reeg__c.rpt_neuro_abnormal__c}" style="vertical-align:top; text-align:left;" ></apex:outputText>
                            </td>
                        </tr>
                    </table>
                </apex:pageBlock>
                
                <apex:pageBlock title="Drug Class Correlations">
                    <apex:dataTable value="{!groups}" var="grp" cellpadding="6" width="100%" columnsWidth="33%, 33%, 33%"  border="0"  columnClasses="classCol1"  styleClass="drugClassTbl" >
                        <apex:column styleClass="drugClassCol" >
                            <apex:facet name="header">Drug Class</apex:facet>
                            <span style="{!grp.nameStyle}">{!grp.name}</span>
                        </apex:column>
                        <apex:column styleClass="sensClassCol">
                            <apex:facet name="header">Sensitivity</apex:facet>
                            <span style="{!grp.sensitivityStyle}">{!grp.sensitivity}</span>
                        </apex:column>
                        <apex:column styleClass="bioClassCol">
                            <apex:facet name="header">Biomarker Predominance</apex:facet>
                            <span style="{!grp.bioPredomStyle}">{!grp.bioPredom}</span>
                        </apex:column>
                    </apex:dataTable>
                </apex:pageBlock>
                <apex:pageBlock title="Individual Medication Responsivity">
                    <table  width="100%" height="100%">
                        <tr>
                            <td width="50%" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#b7babc; border-right-width:1px; border-right-style:solid; border-right-color:#b7babc; border-left-width:1px; border-left-style:solid; border-left-color:#b7babc; border-top-width:1px; border-top-style:solid; border-top-color:#b7babc; padding-top:5px;" >
                                &nbsp;
                                <c:rEEGMedComp medList="{!medSenListSTIM}" medGroup="Stimulants" medSens="{!MedSenSTIM}" medSensStyle="{!MedSenStyleSTIM}" />
                            </td>
                            <td>&nbsp;</td>
                            <td width="50%" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#b7babc; border-right-width:1px; border-right-style:solid; border-right-color:#b7babc; border-left-width:1px; border-left-style:solid; border-left-color:#b7babc; border-top-width:1px; border-top-style:solid; border-top-color:#b7babc; padding-top:5px;">
                                &nbsp;
                                <c:rEEGMedComp medList="{!medSenListACONV}" medGroup="Anticonvulsants" medSens="{!MedSenACONV}" medSensStyle="{!MedSenStyleACONV}" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="50%" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#b7babc; border-right-width:1px; border-right-style:solid; border-right-color:#b7babc; border-left-width:1px; border-left-style:solid; border-left-color:#b7babc; border-top-width:1px; border-top-style:solid; border-top-color:#b7babc; padding-top:5px;">
                                &nbsp;
                                <c:rEEGMedComp medList="{!medSenListADEP}" medGroup="Antidepressants" medSens="{!MedSenADEP}" medSensStyle="{!MedSenStyleADEP}" />
                            </td>
                            <td>&nbsp;</td>
                            <td width="50%" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#b7babc; border-right-width:1px; border-right-style:solid; border-right-color:#b7babc; border-left-width:1px; border-left-style:solid; border-left-color:#b7babc; border-top-width:1px; border-top-style:solid; border-top-color:#b7babc; padding-top:5px;">
                                &nbsp;
                                <c:rEEGMedComp medList="{!medSenListBB}" medGroup="Beta Blocker" medSens="{!MedSenBB}" medSensStyle="{!MedSenStyleBB}" />
                            </td>
                        </tr>
                    </table>
                </apex:pageBlock>
                <apex:pageBlock title="Brain Map">
                    <img src="{!BrainMapUrl}"/>
                </apex:pageBlock>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock title="CNS Variables" rendered="{!showCNSVars}">
<!-- 
                <iframe src="http://cnsrprod.comOnlineReporting/MCnsVars.aspx?ctid0={!cid0}&ctid1={!cid1}&ctid2={!cid2}&ctid3={!cid3}&rid0={!rid0}&rid1={!rid1}&rid2={!rid2}&rid3={!rid3}&dt0={!dt0}&dt1={!dt1}&dt2={!dt2}&dt3={!dt3}" width="98%" height="300" frameborder="0">
				  <p>Your browser does not support iframes.</p>
				</iframe>
 -->				
				<iframe src="https://mypeerinteractive.com/{!MCnsVarEnv}/MCnsVars.aspx?ctid0={!cid0}&ctid1={!cid1}&ctid2={!cid2}&ctid3={!cid3}&rid0={!rid0}&rid1={!rid1}&rid2={!rid2}&rid3={!rid3}&dt0={!dt0}&dt1={!dt1}&dt2={!dt2}&dt3={!dt3}" width="98%" height="300" frameborder="0">
				  <p>Your browser does not support iframes.</p>
				</iframe>
        </apex:pageBlock>
        
        <!--  
        <apex:pageBlock title="CNS Variables" rendered="{!showCNSVars}">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!reloadVars}" immediate="true" value="Reload Vars" rendered="{!ShowCNSVarReloadBtn}"/>
                <apex:commandButton action="{!RefreshPage}" value="Check For Vars" rendered="{!ShowCNSVarRefreshBtn}"/>
                &nbsp; &nbsp; &nbsp;
                <apex:outputText value="CNS Var reload in progress... (Approx 2 min)" rendered="{!ShowCNSVarRefreshBtn}" />
            </apex:pageBlockButtons>
            <apex:dataTable value="{!vars}" rendered="{!NOT(r_reeg__c.rpt_cns_vars_in_progess__c)}" var="var" 
                            columnsWidth="10%, 15%, 15%, 15%, 15%, 15%, 10%" cellpadding="6" width="100%" 
                            border="0" headerClass="cnsVarClassHdr" columnClasses="cnsVarClassCol" styleClass="drugClassTbl" >
                <apex:column headerstyle="text-align:left;"  style="text-align:left;">
                    <apex:facet name="header">Name</apex:facet>
                    <span style="{!var.nameStyle}">{!var.obj.name}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Z-Value</apex:facet>
                    <span style="{!var.zvalueStyle}">{!var.obj.pat_zvalue__c}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Value</apex:facet>
                    <span>{!var.obj.pat_value__c}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other1Header} {!Other1ZLbl}</apex:facet>
                    <span style="{!var.zvalue1Style}">{!var.other1Z}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other1Header} {!other1Date}</apex:facet>
                    <span>{!var.other1}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other2Header} {!Other2ZLbl}</apex:facet>
                    <span style="{!var.zvalue2Style}">{!var.other2Z}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other2Header} {!other2Date}</apex:facet>
                    <span>{!var.other2}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other3Header} {!Other3ZLbl}</apex:facet>
                    <span style="{!var.zvalue3Style}">{!var.other3Z}</span>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">{!other3Header} {!other3Date}</apex:facet>
                    <span>{!var.other3}</span>
                </apex:column>
            </apex:dataTable>
        </apex:pageBlock>
        -->
        
        
        
      <apex:pageBlock title="Research Notes">
          <apex:pageBlockButtons >
              <apex:commandButton action="{!NewNote}" value="New Note"/>
          </apex:pageBlockButtons>
          <apex:dataTable value="{!notes}" headerClass="headerClass"  var="note" cellpadding="3" width="100%" columnsWidth="33%, 33%, 33%"  border="0">
                <apex:column >
                    <apex:facet name="header">Title</apex:facet>
                    <apex:outputLink value="/{!note.id}">{!note.Title}</apex:outputlink>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Created By</apex:facet>
                    <apex:outputField value="{!note.CreatedById}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Created Date</apex:facet>
                    <apex:outputText value="{!note.CreatedDate}"/>
                </apex:column>
            </apex:datatable>
          </apex:pageBlock>
      <apex:pageBlock title="Washout Complete Date" rendered="false" >
          <apex:pageBlockButtons >
              <apex:commandButton action="{!woMedListEditPage}" value="Generate Washout" rendered="{!IsMgrLevel2}"/>
              <apex:commandButton action="{!woMedPrintPage}" value="Print Washout"/>
          </apex:pageBlockButtons>
          <apex:dataTable value="{!WMeds}" var="woMed" cellpadding="6" width="100%" columnsWidth="40%, 5%, 10%, 20%, 20%"  border="0"  columnClasses="classCol1" headerClass="headerClass">
              <apex:column >
                  <apex:facet name="header">Name</apex:facet>
                  <apex:outputField value="{!woMed.name}" />
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Daily Dose</apex:facet>
                  <apex:outputField value="{!woMed.daily_dose_long__c}" />
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Unit</apex:facet>
                  <apex:outputField value="{!woMed.unit__c}" />
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Projected Stop Date</apex:facet>
                  <apex:outputField value="{!woMed.proj_end_date__c}" />
              </apex:column>
              <apex:column >
                  <apex:facet name="header">Washout Complete Date</apex:facet>
                  <apex:outputField value="{!woMed.r_wo_complete_date__c}" />
              </apex:column>
          </apex:dataTable>
      </apex:pageBlock>
    </apex:form>
    <apex:relatedList list="OpenActivities" subject="{!$CurrentPage.parameters.relatedId}" rendered="false" />
</apex:page>