<apex:page id="pg" standardController="r_reeg__c" sidebar="false" tabStyle="r_reeg__c" extensions="DrugReportSummaryController" action="{!loadAction}" cache="false" title="Drug Report Summary" >
<style type="text/css">
table.sample {
	border-width: 1px;
	border-spacing: ;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: rgb(255, 245, 238);
}
table.sample th {
	border-width: 1px;
	padding: 3px;
	border-style: none;
	border-color: gray;
	background-color: rgb(250, 240, 230);
	-moz-border-radius: ;
}
table.sample td {
	border-width: 1px;
	padding: 3px;
	border-style: none;
	border-color: gray;
	background-color: rgb(250, 240, 230);
	-moz-border-radius: ;
}

.treeDiv
{
	width: 15%; 
	float: left; 
	background-color: rgb(255, 249, 239); 
	border:solid 1px grey; 
	height: 1000px;
	padding-left: 5px;
}

 	.style1
    {
        width: 55px;
        text-align:center;
    }
    .style2
    {
        width: 39px;
    }
    .style3
    {
        width: 55px;
        text-align:center;
    }
</style>


<apex:form id="testForm">
	<div style="width:100%" >
		<div class="treeDiv" style="" >
        	<script type="text/javascript" src="{!$Resource.DtTree_js}/dtree.js" />
			<link rel="stylesheet" type="text/css" href="{!$Resource.DtTree_js}/dtree.css" />
			
			<div>
				<br /><apex:commandLink id="listHl" action="{!returnAction}" value="> back to List" />
			</div>
			<div>
				<br />
			</div>
			<div>
				<br />
				<script type="text/javascript">
				d = new dTree('d', '{!$Resource.DtTree_js}');
					d.add(0,-1,'<a href="../{!reeg.Id}" >{!reeg.Name}</a>');
					
					d.add(1,0,'bbb','{!baseUrl}',null, null, null, null, null,1);
					d.add(2,0,'maoi','{!baseUrl}',null, null, null, null, null,2);
					d.add(3,0,'batt','{!baseUrl}',null, null, null, null, null,3);
					d.add(4,0,'ssri','{!baseUrl}',null, null, null, null, null,4);
					d.add(5,0,'tca','{!baseUrl}',null, null, null, null, null,5);
					d.add(6,0,'bzo','{!baseUrl}',null, null, null, null, null,6);
					
					d.add(7,0,'Anticonvulsants','{!baseUrl}',null, null, null, null, null,7);
					d.add(8,7,'Alprazolam','{!baseUrl}',null, null, null, null, null,8);
					d.add(9,7,'Lorazepam','{!baseUrl}',null, null, null, null, null,9);
					d.add(10,7,'Clonazepam','{!baseUrl}',null, null, null, null, null,10);
					d.add(11,7,'Carbamazepine','{!baseUrl}',null, null, null, null, null,11);
					d.add(12,7,'Clonidine','{!baseUrl}',null, null, null, null, null,12);					
					d.add(13,7,'Lamotrigine','{!baseUrl}',null, null, null, null, null,13);
					d.add(14,7,'Omega369','{!baseUrl}',null, null, null, null, null,14);
					d.add(15,7,'Oxcarbazepine','{!baseUrl}',null, null, null, null, null,15);
					d.add(16,7,'Divalproex','{!baseUrl}',null, null, null, null, null,16);
					d.add(17,7,'Gabapentin','{!baseUrl}',null, null, null, null, null,17);
					d.add(18,7,'Lithium','{!baseUrl}',null, null, null, null, null,18);
					
					d.add(19,0,'Antidepressants','{!baseUrl}',null, null, null, null, null,19);
					d.add(20,19,'Fluoxetine','{!baseUrl}',null, null, null, null, null,20);
					d.add(21,19,'Sertraline','{!baseUrl}',null, null, null, null, null,21);
					d.add(22,19,'Paroxetine','{!baseUrl}',null, null, null, null, null,22);
					d.add(23,19,'Fluvoxamine','{!baseUrl}',null, null, null, null, null,23);
					d.add(24,19,'Citalopram','{!baseUrl}',null, null, null, null, null,24);
					d.add(25,19,'Desipramine','{!baseUrl}',null, null, null, null, null,25);
					d.add(26,19,'Imipramine','{!baseUrl}',null, null, null, null, null,26);
					d.add(27,19,'Nortriptyline','{!baseUrl}',null, null, null, null, null,27);
					d.add(28,19,'Amitriptyline','{!baseUrl}',null, null, null, null, null,28);
					d.add(29,19,'Bupropion','{!baseUrl}',null, null, null, null, null,29);
					d.add(30,19,'Venlafaxine','{!baseUrl}',null, null, null, null, null,30);
					d.add(31,19,'Duloxetine','{!baseUrl}',null, null, null, null, null,31);
					d.add(32,19,'Escitalopram','{!baseUrl}',null, null, null, null, null,32);
					
					d.add(33,0,'Beta Blockers','{!baseUrl}',null, null, null, null, null,33);
					d.add(34,34,'metoprolol','{!baseUrl}',null, null, null, null, null,34);
					d.add(35,34,'propranolol','{!baseUrl}',null, null, null, null, null,35);
					d.add(36,34,'atenolol','{!baseUrl}',null, null, null, null, null,36);
	
					d.add(37,0,'Stimulants','{!baseUrl}',null, null, null, null, null,37);
					d.add(38,37,'Tranylcypromine','{!baseUrl}',null, null, null, null, null,38);
					d.add(39,37,'Selegiline','{!baseUrl}',null, null, null, null, null,39);
					d.add(40,37,'Methylphenidate','{!baseUrl}',null, null, null, null, null,40);
					d.add(41,37,'Damphetamine','{!baseUrl}',null, null, null, null, null,41);
					d.add(42,37,'Dexlevoamphetamine','{!baseUrl}',null, null, null, null, null,42);
					d.add(43,37,'Aminoacids','{!baseUrl}',null, null, null, null, null,43);
					d.add(44,37,'Atomoxetine','{!baseUrl}',null, null, null, null, null,44);
					d.add(45,37,'Moclobemide','{!baseUrl}',null, null, null, null, null,45);
					d.add(46,37,'Modafinil','{!baseUrl}',null, null, null, null, null,46);
					
					d.add(47,0,'Atypicals','{!baseUrl}',null, null, null, null, null,47);
					d.add(48,47,'Olanzapine','{!baseUrl}',null, null, null, null, null,48);
					d.add(49,47,'Risperidone','{!baseUrl}',null, null, null, null, null,49);									

					d.add(50,0,'CNS Variables','{!cnsVarsUrl}',null, null, null, null, null,50);
	
					document.write(d);
				</script>
			</div>
    	</div>
		<div style="width:83%; float: right; float: top; vertical-align:top; " >
			<apex:pageBlock >
				<apex:outputPanel style="height:1400px;">
				<br />
				<apex:pageBlockSection columns="2">
					<apex:outputField value="{!reeg.Name}" />
					<apex:outputField value="{!reeg.req_date__c}" />
					<apex:outputField value="{!reeg.r_patient_id__c}" />
					<apex:outputField value="{!reeg.r_physician_id__c}" />
				</apex:pageBlockSection>
				
				<iframe src ="{!Domain}/Summary.aspx?rid={!reeg.Id}&cat={!drugName}" width="98%" height="1350">
				  <p>Your browser does not support iframes.</p>
				</iframe>
			
				<br />
				</apex:outputPanel>
			</apex:pageBlock>
		</div>
	</div>
	</apex:form>
</apex:page>