<apex:page controller="SysLogController" sidebar="false" action="{!LoadAction}" >
	<apex:form >
		<apex:pageBlock title="System Log">
      <apex:pageBlockButtons >
        <apex:commandButton value="Refresh" action="{!refresh}" rerender="lPanel"/>
      </apex:pageBlockButtons>
			<apex:pageBlockSection title="Received EEGs" columns="1">
				<apex:pageBlock >
          <apex:outputPanel id="lPanel">    
		    <apex:dataTable id="logDt" value="{!logs}" var="log" columnsWidth="10%, 5%, 10%, 5%, 8%, 52%" cellpadding="2" width="100%" >
			    <apex:column >
				    <apex:facet name="header">&nbsp;Created Date</apex:facet>
					<apex:outputField id="nameLbl" value="{!log.CreatedDate}"/>
				</apex:column>
            <apex:column >
              <apex:facet name="header">&nbsp;Group</apex:facet>
              <apex:outputField id="groupLbl" value="{!log.group__c}"/>
            </apex:column>
            <apex:column >
              <apex:facet name="header">&nbsp;Related ID</apex:facet>
              <apex:outputField id="realtedLbl" value="{!log.related_id__c}"/>
            </apex:column>
            <apex:column >
              <apex:facet name="header">&nbsp;Level</apex:facet>
              <apex:outputField id="levelLbl" value="{!log.level__c}"/>
            </apex:column>
            <apex:column >
              <apex:facet name="header">&nbsp;Category</apex:facet>
              <apex:outputField id="categoryLbl" value="{!log.category__c}"/>
            </apex:column>
            <apex:column >
              <apex:facet name="header">&nbsp;Message</apex:facet>
              <apex:outputField id="messageLbl" value="{!log.message__c}"/>
            </apex:column>            
					</apex:dataTable>
          </apex:outputPanel>
				</apex:pageBlock>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>