<apex:page id="p" controller="uploadWizardController5" action="{!loadAction}">
   <head>
        <style type="text/css">
            .panelStyle
            {
            border-width:1px;
            border-color:#b6b6b5;
            border-style:solid;
            width:100%;
            }

            .panelHeaders
            {
            background-color:#000;
            }

            .headerStyle
            {

            color:#333333;
            border-style:solid;
            border-width:0px;
            border-color:#b6b6b5;
            padding:7px;
            font-size:11px;

            }

            .headerStyleActive
            {

            color:#333333;
            border-style:solid;
            border-width:0px;
            border-color:#b6b6b5;
            padding:7px;
            font-size:11px;
            }
            .activeTab {background-color: #fcfcfd; font-size:11px; background-image:none}
            .inactiveTab { background-color: #dedede; color:black; font-size:11px; background-image:none}

            .tabPanelContent{
            border-top-width:1px;
            border-top-style:solid;
            border-top-color:#c8cacb;
            border-bottom-width:1px;
            border-bottom-style:solid;
            border-bottom-color:#c8cacb;
            border-right-width:1px;
            border-right-style:solid;
            border-right-color:#c8cacb;
            border-left-width:1px;
            border-left-style:solid;
            border-left-color:#c8cacb;
            height:100%;
            display:block;

            }

            .tabPanelWrapper{
            border-bottom-width:1px;
            border-bottom-color:#c8cacb;
            border-bottom-style:solid;
            }
            .drugClassTbl
            {
            border-left-width:1px;
            border-left-color:#b7babc;
            border-left-style:solid;
            border-bottom-width:1px;
            border-bottom-color:#b7babc;
            border-bottom-style:solid;
            border-top-style:solid;
            border-top-color:#b7babc;
            border-top-width:1px;
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            font-size:11px;

            }

            .classCol1
            {
            border-top-style:solid;
            border-top-color:#b7babc;
            border-top-width:0px;
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:0px;
            padding-left:7px;
            padding-right:7px;
            padding-top:1px;
            padding-bottom:1px;
            }

            .classCol2
            {
            border-top-style:solid;
            border-top-color:#b7babc;
            border-top-width:0px;
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            padding-left:7px;
            padding-right:7px;
            padding-top:1px;
            padding-bottom:1px;
            }

            .classRow1
            {
            background-color:#ffffff;
            }

            .classRow2
            {
            background-color:#eeeeee;
            }
            .row1
            {
            background-color:#ffffff;
            }

            .row2
            {
            background-color:#eeeeee;
            }

            .drugClassCol
            {
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            }

            .sensClassCol
            {
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            }

            .bioClassCol
            {
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            }

            .typeClass
            {
            border-left-width:1px;
            border-left-color:#b7babc;
            border-left-style:solid;

            border-top-style:solid;
            border-top-color:#b7babc;
            border-top-width:1px;
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            color:#333333;
            font-size:11px;
            width:100%;
            }

            .typeTitles
            {
            border-right-style:solid;
            border-right-color:#b7babc;
            border-right-width:1px;
            }

            .sectionTitles
            {
            background-color:#e6e5e5;
            margin:0px;
            padding:5px;
            padding-left:10px;
            padding-top:5px;
            padding-bottom:5px;
            color:#333333;
            font-weight:bold;
            border-bottom-style:solid;
            border-bottom-width:1px;
            border-bottom-color:#b7babc;

            border-top-style:solid;
            border-top-width:0px;
            border-top-color:#b7babc;

            border-right-style:solid;
            border-right-width:0px;
            border-right-color:#b7babc;

            border-left-style:solid;
            border-left-width:0px;
            border-left-color:#b7babc;
            }
            .medResponseTd
            {
            border-width:1px;
            border-style:solid;
            border-color:#b7babc;
            }


        </style>
    </head>
<script>
//-- this checks for enter key presses in the selected fields
function checkEnterKey(e)
{
 	var eventInstance = window.event ? event : e;
 	var unicode = eventInstance.charCode ? eventInstance.charCode : eventInstance.keyCode;
 
	//alert(unicode); 
 
 	if (unicode && unicode == 13)
 	{
 		actionSubmitScript();
		return false;
	}
 	return true;
}

function verifySubmit(valStr, title, fn, ln)
{
	var returnVal = false;
	var hfEl = document.getElementById('p:Fm:isSubmitVerifiedHf');
	var isConfirmed;
	if (hfEl)
	{
		var popupTxt = 'Please confirm submission of this PEER request';
		if (valStr && valStr != '')
		{
			var tempStr = title;
			tempStr += (tempStr && tempStr != '') ? ' ' : '';
			tempStr += fn + ' ' + ln;
			popupTxt = valStr.replace('$physicianname$', tempStr);
		}
		hfEl.value = confirm(popupTxt);
		
		returnVal = true;
	}
	return returnVal;
}
    </script>
    <apex:form id="Fm">
    	<apex:actionFunction action="{!submit}" name="actionSubmitScript" />
		<apex:inputHidden id="isSubmitVerifiedHf" value="{!isSubmitVerified}" />
        <apex:pageBlock title="Diagnosis">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!wizStep4}" immediate="true" value="Previous"/>
				<apex:commandButton action="{!wizStep6}" value="Upload EEG File" id="nextLink1" />
				<apex:commandButton action="{!submit}" value="Submit" onclick="verifySubmit('{!$Setup.app_text_setting__c.text__c}', '{!$User.Title}', '{!$User.FirstName}', '{!$User.LastName}');" />
                <apex:commandButton action="{!cancelWizOverride}" immediate="true" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageMessages ></apex:pageMessages>
            <table width="100%">
                <tr>
                    <td valign="top">
                        <table cellpadding="0" cellspacing="0" class="typeClass" style="margin-top:3px;">
                            <tr>
                                <td class="typeTitles" width="30px" align="center">
                                    I
                                </td>
                                <td class="typeTitles" width="35px" align="center">
                                    II
                                </td>
                                <td class="typeTitles" width="35px" align="center">
                                    R/O
                                </td>
                                <td class="typeTitles" width="45px" align="left">
                                    <span style="padding-left:3px;">DSM4</span>
                                </td>
                                <td align="left" >
                                    <span style="padding-left:6px;">NAME</span>
                                </td>
                            </tr>
                        </table>

                        <apex:dataTable value="{!dxGroupsL}" var="grp"  border="0"   styleClass="drugClassTbl" headerClass="facetClass" width="100%" columnsWidth="100%">
                            <apex:column width="100%">
                                <div class="sectionTitles">{!grp.refObj.description__c}</div>
                                <apex:dataTable value="{!grp.dxs}" var="dx" columnClasses="classCol1" rowClasses="classRow1, classRow2" width="100%">
                                    <apex:column >

                                        <apex:inputField value="{!dx.obj.primary__c}" onkeypress="checkEnterKey(event);"/>
                                    </apex:column>
                                    <apex:column >

                                        <apex:inputField value="{!dx.obj.secondary__c}" onkeypress="checkEnterKey(event);"/>
                                    </apex:column>
                                    <apex:column >

                                        <apex:inputField value="{!dx.obj.rule_out__c}" onkeypress="checkEnterKey(event);"/>
                                    </apex:column>
                                    <apex:column >

                                        <apex:outputField value="{!dx.refObj.name}"/>
                                    </apex:column>
                                    <apex:column width="100%">

                                        <apex:outputField value="{!dx.refObj.description__c}"/>
                                    </apex:column>
                                    <apex:column width="100%" style="display:block;">

                                        <apex:outputText style="width:100%;">&nbsp;</apex:outputText>
                                    </apex:column>

                                </apex:dataTable>
                            </apex:column>
                        </apex:dataTable>
                    </td>
                    <td >
                        <table width="100%">
                            <tr>
                                <td valign="top">
                                    <table cellpadding="0" cellspacing="0" class="typeClass">
                                        <tr>
                                            <td class="typeTitles" width="30px" align="center">
                                                I
                                            </td>
                                            <td class="typeTitles" width="35px" align="center">
                                                II
                                            </td>
                                            <td class="typeTitles" width="35px" align="center">
                                                R/O
                                            </td>
                                            <td class="typeTitles" width="45px" align="left">
                                                <span style="padding-left:3px;">DSM4</span>
                                            </td>
                                            <td align="left" >
                                                <span style="padding-left:6px;">NAME</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <apex:dataTable value="{!dxGroupsR}" var="grp" border="0" styleClass="drugClassTbl" headerClass="facetClass" width="100%" columnsWidth="100%">
                                        <apex:column >
                                            <div class="sectionTitles">{!grp.refObj.description__c}</div>

                                            <apex:dataTable value="{!grp.dxs}" var="dx" columnClasses="classCol1" rowClasses="classRow1, classRow2" width="100%">
                                                <apex:column >

                                                    <apex:inputField value="{!dx.obj.primary__c}" onkeypress="checkEnterKey(event);"/>
                                                </apex:column>
                                                <apex:column >

                                                    <apex:inputField value="{!dx.obj.secondary__c}" onkeypress="checkEnterKey(event);"/>
                                                </apex:column>
                                                <apex:column >

                                                    <apex:inputField value="{!dx.obj.rule_out__c}" onkeypress="checkEnterKey(event);"/>
                                                </apex:column>
                                                <apex:column >

                                                    <apex:outputField value="{!dx.refObj.name}"/>
                                                </apex:column>
                                                <apex:column width="100%">

                                                    <apex:outputField value="{!dx.refObj.description__c}" rendered="{!dx.showLabel}"/>
                                                    <apex:inputField value="{!dx.refObj.description__c}" rendered="{!dx.showOther}" onkeypress="checkEnterKey(event);"/>
                                                </apex:column>
                                                <apex:column width="100%" >

                                                    <apex:outputText >&nbsp;</apex:outputText>
                                                </apex:column>
                                            </apex:dataTable>
                                        </apex:column>
                                    </apex:dataTable>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </apex:pageBlock>
    </apex:form>
</apex:page>