<apex:page id="p" showHeader="false" sidebar="false" controller="wr_PeerRequisitionController" >
<html> 
   <c:wr_HeadComponent pageTitle="Peer Requisition"/>
   <style>
       .message{
           margin-bottom: 4px;
           margin-top: 2px;
           margin-left: 0px;
           margin-right: 0px;
       }
   </style>
   <script>
		window.onload = function tabIndexing(){
		document.getElementById("p:f:patientNewWizBlock:patientNewWizBlockSect:sectItemLastName:patientNewWizLastName").tabIndex = 1;
		document.getElementById("p:f:patientNewWizBlock:patientNewWizBlockSect:sectItemFirstName:patientNewWizFirstName").tabIndex = 2;
		document.getElementById("p:f:patientNewWizBlock:patientNewWizBlockSect:sectItemDOB:patientNewWizDOB").tabIndex = 3;
		}
 </script>
<body>
<div id="container" style="width: 1000px">
    <div id="content" style="width: 1000px">
        <div class="header" style="width: 1000px"><img width="1000px" height="131px" src="{!$Resource.Retro}/images/Header.PNG" alt="" /></div>
        <div class="navigation" style="width: 1000px">
            <c:wr_NavComponent linkStyle="padding-top: 5px;" userName="{!userName}"/>
        </div>
        <div id="leftColumn" style="width: 100%" >
            <apex:pagemessages id="messages" escape="false"/> 
     <apex:form id="f">
    <apex:actionFunction action="{!patientSearch}" name="actionSubmitScript" rerender="patientNewWizBlock,messages" />
    <apex:pageBlock title="Search for patient" id="patientNewWizBlock">
        <apex:pageBlockButtons location="top">
            <apex:commandButton action="{!patientSearch}" value="Search" rerender="patientNewWizBlock,jsPanel,messages"/>
        <!--     <apex:commandButton action="{!newPatient}" value="New Patient" rendered="{!isFirstSearchDone}" rerender="patientNewWizBlock,messages"/>  -->
            <apex:commandButton immediate="true" action="{!newSearch}" value="New Search" rendered="{!isFirstSearchDone}" rerender="patientNewWizBlock,messages"/>
            <apex:commandButton action="{!gotoPatientList}" immediate="true" value="Cancel"/>
        </apex:pageBlockButtons>        
        <apex:pageBlockSection id="patientNewWizBlockSect"  columns="2">
            <apex:inputField id="lastName" value="{!patient.Name}" required="true" onkeypress="return checkKey(event);"/>
            <apex:inputField value="{!patient.first_name__c}" onkeypress="return checkKey(event);"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection id="resultsPbs" rendered="{!showResults}" columns="1">
                <apex:outputLabel value="Search Results"/>
                <apex:dataTable value="{!patAllList}" var="pat" cellpadding="2" width="100%" columnsWidth="20%, 15%, 15%, 15%, 15%, 20%" border="0">
                    <apex:column >
                        <apex:facet name="header">Action</apex:facet>
                       <apex:outputLink value="/apex/wr_PeerRequisition2S2?id={!pat.Id}"> 
                         <apex:image title="Use this patient to create a new PEER Requisition" url="{!$Resource.Res}/images/order.png" width="20" height="20"/>
                     </apex:outputLink>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputText value="{!pat.Name}, {!pat.first_name__c} {!pat.middle_initial__c}"  />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">DOB</apex:facet>
                        <apex:outputField id="testTypeLbl" value="{!pat.dob__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Gender</apex:facet>
                        <apex:outputField value="{!pat.Gender__c}"  />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Physician</apex:facet>
                        <apex:outputField value="{!pat.physician__c}"  />
                    </apex:column>
                </apex:dataTable>
        </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:outputPanel id="jsPanel">
			<c:DateAutoComplete inputFieldId="p:f:patientNewWizBlock:patientNewWizBlockSect:dob"/>
        </apex:outputPanel>
  </apex:form>  
</div>
<div class="clear"></div>
<div class="spacer"></div>  
<apex:include pageName="wr_Footer"/>
</div>
</div> 
<!-- container -->
</body>
</html>
<script type="text/javascript">
  document.getElementById('p:f:patientNewWizBlock:patientNewWizBlockSect:lastName').focus();
</script>
</apex:page>