<apex:page showHeader="false" sidebar="false" controller="wr_PatientListController" standardStyleSheets="false">
<html>
   <c:wr_HeadComponent pageTitle="My Patients"/>
<body>
<script>
function checkSearchKey(e)
{
    var eventInstance = window.event ? event : e;
    var unicode = eventInstance.charCode ? eventInstance.charCode : eventInstance.keyCode;
 
    //alert(unicode); 
 
    if (unicode && unicode == 13)
    {
        actionSearch();
        return false;
    }
    return true;
}
</script>
<apex:form >
<div id="container" style="width: 1000px">
    <div id="content" style="width: 1000px">
        <div class="header" style="width: 1000px"><img width="1000px" height="131px" src="{!$Resource.Retro}/images/Header.PNG" alt="" /></div>
        <div class="navigation" style="width: 1000px">
            <c:wr_NavComponent userName="{!userName}" firstTabCss="last active"/>
            <div class="search">
                <span>Patient Search</span>
                <apex:inputText value="{!patSearchString}" onkeypress="return checkSearchKey(event);" />
                <apex:commandLink action="{!searchPatients}" reRender="patientList"><img height="15px" width="15px" src="{!$Resource.Retro}/images/Search.png" /></apex:commandLink>
            </div>
        </div>
        <div id="leftColumn" style = "border: 2px solid #52789D; width: 770px; float: left; height: 492px;">
        	<apex:actionFunction action="{!searchPatients}" name="actionSearch" rerender="patientList" />
        	<apex:pageBlock id="patientList">
        		<apex:outputPanel id="noResultsPnl" rendered="{!!hasResults}">
	        		<div style="margin: 4px 4px 4px 4px">
    	        		<apex:outputText value="Your search did not match any items." />
            		</div>
		        </apex:outputPanel>
        	    <apex:outputPanel id="resultsPnl" rendered="{!hasResults}">
               <!-- Data Table -->
              <apex:dataTable cellpadding="2px" headerClass="headerS" border="0"  styleClass="peers"  id="patientTable" var="patient" value="{!patients}"  >
                   <apex:column style="text-align:center;" styleClass="data" >
                       <apex:facet name="header">Action</apex:facet>
                       <apex:outputLink value="/apex/wr_PatientViewS2?id={!patient.id}">
                             <apex:image title="Go to Patient" url="{!$Resource.Res}/images/patient.png" width="20" height="20"/>
                       </apex:outputLink>
                       <apex:outputLink value="/apex/wr_OutcomeEditS2?pid={!patient.id}">
                             <apex:image title="Enter an outcome" url="{!$Resource.Res}/images/outcome.png" width="20" height="20"/>
                       </apex:outputLink>
                       <apex:outputLink value="wr_PeerRequisition1S2?id={!patient.id}">
                             <apex:image title="Order a PEER Report" url="{!$Resource.Res}/images/order.png" width="20" height="20"/>
                       </apex:outputLink>
                         <apex:outputLink value="wr_MultiPeerS2?id={!patient.id}">
                             <apex:image title="Goto PEER Report" url="{!$Resource.Res}/images/review.png" width="20" height="20"/>
                       </apex:outputLink>
                    </apex:column>
                    <apex:column style="text-align:left; padding-left:30px;" styleClass="data" >
                      <apex:facet name="header">
                      	<apex:commandLink action="{!sortPatientName}" value="Name{!IF(sortExpression=='name',IF(sortDirection='ASC','▼','▲'),'')}" rerender="patientTable" style="color:white;text-decoration:none" />
                      </apex:facet>
                      <apex:outputLink value="/apex/wr_PatientViewS2?id={!patient.id}">{!patient.name}, {!patient.first_name__c} {!patient.middle_initial__c}</apex:outputLink>
                    </apex:column>
                     <apex:column style="text-align:center;" styleClass="data" >
                     <apex:facet name="header">
                     	<apex:commandLink action="{!sortPeerDate}" value="Last Peer Date{!IF(sortExpression=='Last_PEER_Date__c',IF(sortDirection='ASC','▼','▲'),'')}" rerender="patientTable" style="color:white;text-decoration:none" />
                     </apex:facet>
                       <apex:outputText value="{0,date,MM/dd/yy}">
                            <apex:param value="{!patient.Last_PEER_Date__c}"/>
                      </apex:outputText>
                    </apex:column>
                    <!-- <apex:column style="text-align:center;" styleClass="data" >
                     <apex:facet name="header">Days Since Last Peer</apex:facet>
                      <apex:outputField value="{!patient.Days_Since_Last_PEER__c}" />
                    </apex:column>-->
                    <apex:column style="text-align:center;" styleClass="data" >
                    <apex:facet name="header">
                    	<apex:commandLink action="{!sortProviderId}" value="Provider ID{!IF(sortExpression=='r_patient_id__r.prov_pat_id__c',IF(sortDirection='ASC','▼','▲'),'')}" rerender="patientTable" style="color:white;text-decoration:none" />
                    </apex:facet>
                      <apex:outputField value="{!patient.prov_pat_id__c}" />
                    </apex:column>
                    <apex:column style="text-align:center;" styleClass="data" >
                    <apex:facet name="header">
                    	<apex:commandLink action="{!sortOutcome}" value="Outcomes{!IF(sortExpression=='Outcomes__c',IF(sortDirection='ASC','▼','▲'),'')}" rerender="patientTable" style="color:white;text-decoration:none" />
                    </apex:facet>
                      <apex:outputField value="{!patient.Outcomes__c}" />
                    </apex:column>
               </apex:dataTable>
               <!-- End Data Table --> 
           </apex:outputPanel>
           <table align="center">
               <tr><td>
                   <apex:outputPanel styleClass="pagination" >
                       <apex:commandLink action="{!previous}" rendered="{!Con.HasPrevious}" rerender="patientList">Previous</apex:commandlink>
                       &nbsp; &nbsp;
                       <apex:commandLink action="{!next}" rendered="{!Con.HasNext}" rerender="patientList">Next</apex:commandlink>
                   </apex:outputPanel>
               </td></tr>
           </table>
        </apex:pageBlock>
        </div>
        <div id="rightColumn">
            <apex:include pageName="wr_NotificationSection"/>
            <c:wr_NewsComponent />
        </div>
        <div class="clear"></div>
        <div class="spacer"></div>  
        <div class="bottomGradient" style="width: 1033px"></div>
        <c:wr_FooterComponent rfStyle="display: none;"/>
    </div>
</div> 
<!-- container -->
</apex:form>
</body>
</html>
</apex:page>