<apex:component controller="i_rEEGMedController"> 
<apex:attribute name="medList" type="rEEGMedSensitivityDisp[]" required="true" description="Med List" />
<apex:attribute name="medGroup" type="String" required="true" description="med group" />
<apex:attribute name="medSens" type="String" required="true" description="med sensitivity" />
<apex:attribute name="medSensStyle" type="String" required="true" description="med sensitivity style" />

<span class="subtitle">
<apex:outputText value="{!medGroup}" /> 
(<apex:outputText value="{!medSens}" style="{!medSensStyle}" />)
</span>
<ul class="pageitem">
	<apex:repeat value="{!medList}" var="med">				
		<li class="textbox">
			<span class="lrgNameM" style="{!med.tradeStyle}">{!med.tradeName}</span>
			<span class="lrgNameM">{!med.genericName}</span>
			<span class="lrgNameM" style="{!med.sensitivityStyle}">{!med.sensitivity}</span>
	    </li>
	</apex:repeat>	
</ul>
</apex:component>