<apex:component >
    <apex:attribute name="pageTitle" description="" type="String" required="true"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{!pageTitle}</title>
    <link rel="stylesheet" type="text/css" href="{!$Resource.Res}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{!$Resource.Res}/css/jquery.alerts.css" />
    <script type="text/javascript" src="{!$Resource.Res}/js/jquery-latest.js" />
    <script type="text/javascript" src="{!$Resource.Res}/js/jquery.ui.draggable.js"/>
    <script type="text/javascript" src="{!$Resource.Res}/js/jquery.alerts.js"/>
    <style>
    #popup_container.style_1 {
        font-family: Georgia, serif;
        color: #A4C6E2;
        background: #005294;
        border-color: #113F66;
    }
    #popup_container.style_1 #popup_title {
        color: #FFF;
        font-weight: normal;
        text-align: left;
        background: #76A5CC;
        border: solid 1px #005294;
        padding-left: 1em;
    }
    #popup_container.style_1 #popup_content {
        background: none;
    }
    #popup_container.style_1 #popup_message {
        padding-left: 0em;
    }
    #popup_container.style_1 INPUT[type='button'] {
        border: outset 2px #76A5CC;
        color: #A4C6E2;
        background: #3778AE;
    }
      .header {
        height: 129px;
        width: 1000px;
        padding: 0;
        margin: 0;
      }
      body { font-size: 12px; }
      .headerS {
             font-size: 100%;
             color: white;
             background-color:#194B7D;
         }
          .data {
             font-size: 95%;
             text-align: center;
         }
         .search {
             font-size: 12px;
             color: white;
             float: right;
             margin-right: 2px;
             width: auto;
         }
         #leftColumn table.peers {
             width: 770px;
         }
         #leftColumn table.peers th {
            padding: 10px 10px;
            background-color: #194B7D;
            color: white;
         }
         .navigation ul.links li {
			float: left;
			margin-right: 10px;
			padding-top: 4px;
		}
        #leftColumn table.peer {
             width: 100%;
         }
        #leftColumn table.peer th {
            background-color: #194B7D;
            color: white;
         }
         #leftColumn table.peer td {
            color: #6b6e71;
         }
         
    </style>
</head>
</apex:component>