<apex:component >
    <apex:attribute name="pageTitle" description="" type="String" required="true"/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{!pageTitle}</title>
<link rel="stylesheet" type="text/css" href="{!$Resource.Res}/css/style.css" />
<apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" />
<apex:stylesheet value="/sCSS/25.0/sprites/1342034628000/Theme3/default/gc/extended.css" />
<apex:includeScript value="{!URLFOR($Resource.CNS_Util_2, '/jquery-1.11.1/jquery-1.11.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CNS_Util_2, 'jquery-ui-1.11.2.custom/jquery-ui.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CNS_Util_2, '/Scripts/bootstrap.min.js')}"/>

<script type="text/javascript">
   jQuery.noConflict();
</script> 

<style>
#popup_container.style_1 {
    font-family: Georgia, serif;
    color: #A4C6E2;
    background: #005294;
    border-color: #113F66;
}
#popup_container.style_1 #popup_title {
    color: #FFF;
    font-weight: normal;
    text-align: left;
    background: #76A5CC;
    border: solid 1px #005294;
    padding-left: 1em;
}
#popup_container.style_1 #popup_content {
    background: none;
}
#popup_container.style_1 #popup_message {
    padding-left: 0em;
}
#popup_container.style_1 INPUT[type='button'] {
    border: outset 2px #76A5CC;
    color: #A4C6E2;
    background: #3778AE;
}
  .header {
    height: 129px;
    width: 1000px;
    padding: 0;
    margin: 0;
  }
  body { font-size: 12px; }
  .headerS {
         font-size: 100%;
         color: white;
         background-color:#194B7D;
     }
      .data {
         font-size: 95%;
         text-align: center;
     }
     .search {
         font-size: 12px;
         color: white;
         float: right;
         margin-right: 2px;
         width: auto;
     }
     #leftColumn table.peers {
         width: 770px;
     }
     #leftColumn table.peers th {
        padding: 10px 10px;
        background-color: #194B7D;
        color: white;
     }
     .navigation ul.links li {
	float: left;
	margin-right: 10px;
	padding-top: 4px;
}
    #leftColumn table.peer {
         width: 100%;
     }
    #leftColumn table.peer th {
        background-color: #194B7D;
        color: white;
     }
     #leftColumn table.peer td {
        color: #6b6e71;
     }


.modal-open { overflow: hidden; }

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: -webkit-center;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 500px;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

</style>
</head>
</apex:component>