.THIS {
    background-color:yellow;
    padding-top:10px;  /*- to add spacing*/
    
}

h1.THIS{ /* To make header font size bigger*/
    
   font-size:60px;
}

.THIS h1{
    font-weight:bold;
    padding:10px;
}

.THIS .red{ /*red is the name of a class*/
    background-color:red;
    font-size:30px;
    
}              

.THIS .blue{
    background-color:blue;
    font-size:40px;
}

.THIS .green{
    background-color:green;
    font-size:50px;
}