.THIS {
    background-color:grey;
}

.THIS .white {
    background-color:white;
}

.THIS .red {
    background-color:red;
}

.THIS .blue {
    background-color:blue;
}

.THIS .orange {
    background-color:orange;
}